Repository datalens-tech/datalens-backend, pull requests merged in 2024-12, with the labels that each got.

#733 fix(formula): BI-5959 apply mutations before adding formula to global dimensions during validation
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/complex_queries/test_window_functions.py
  lib/dl_query_processing/dl_query_processing/compilation/formula_compiler.py
Labels: component/formula, type/fix

#731 feat: BI-5953 schema version attribute
  lib/dl_core/dl_core/us_connection_base.py
  lib/dl_core/dl_core/us_dataset.py
  lib/dl_core/dl_core/us_manager/storage_schemas/connection.py
  lib/dl_core/dl_core/us_manager/storage_schemas/dataset.py
  lib/dl_maintenance/dl_maintenance/api/crawlers/schema_version_migration.py
Labels: type/feat

#737 test: BI-0 allow DOCKER_HOST with ssh in tests
  lib/dl_core_testing/dl_core_testing/environment.py
  tools/taskfiles/taskfile_dev.yml
Labels: type/test

#735 feat: BI-5954 BaseEntrySchemaMigration class
  lib/dl_core/dl_core/us_manager/schema_migration/__init__.py
  lib/dl_core/dl_core/us_manager/schema_migration/base.py
  lib/dl_core/dl_core_tests/unit/us_manager/test_migration.py
Labels: type/feat

#744 ci: BI-0 add minimal image-scan tooling
  tools/e2e/Taskfile.yaml
  tools/e2e/trivy.yaml
Labels: type/ci

#741 deps: BI-5958 bump certifi, urllib3, tornado
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_common_logging.py
  metapkg/poetry.lock
  metapkg/pyproject.toml
  terrarium/dl_repmanager/dl_repmanager/scripts/repmanager_cli.py
  terrarium/dl_repmanager/poetry.lock
Labels: type/deps

#746 ci: BI-0 remove sync trigger
  .github/workflows/validate-pr-name.yml
Labels: type/ci

#748 ci: BI-0 fix dependencies
  lib/dl_api_commons/pyproject.toml
  lib/dl_auth_native/pyproject.toml
  lib/dl_core/pyproject.toml
  lib/dl_file_uploader_task_interface/pyproject.toml
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/ci

#722 feat: BI-5792 TLS switch for MySQL
  lib/dl_connector_mysql/dl_connector_mysql/api/api_schema/connection.py
  lib/dl_connector_mysql/dl_connector_mysql/api/connection_form/form_config.py
  lib/dl_connector_mysql/dl_connector_mysql/core/adapters_base_mysql.py
  lib/dl_connector_mysql/dl_connector_mysql/core/adapters_mysql.py
  lib/dl_connector_mysql/dl_connector_mysql/core/async_adapters_mysql.py
  lib/dl_connector_mysql/dl_connector_mysql/core/connection_executors.py
  lib/dl_connector_mysql/dl_connector_mysql/core/dto.py
  lib/dl_connector_mysql/dl_connector_mysql/core/target_dto.py
  lib/dl_connector_mysql/dl_connector_mysql/core/us_connection.py
  lib/dl_connector_mysql/dl_connector_mysql/locales/en/LC_MESSAGES/dl_connector_mysql.mo
  lib/dl_connector_mysql/dl_connector_mysql/locales/en/LC_MESSAGES/dl_connector_mysql.po
  lib/dl_connector_mysql/dl_connector_mysql/locales/en/LC_MESSAGES/dl_formula_ref_dl_connector_mysql.po
  lib/dl_connector_mysql/dl_connector_mysql/locales/ru/LC_MESSAGES/dl_connector_mysql.mo
  lib/dl_connector_mysql/dl_connector_mysql/locales/ru/LC_MESSAGES/dl_connector_mysql.po
  lib/dl_connector_mysql/dl_connector_mysql/locales/ru/LC_MESSAGES/dl_formula_ref_dl_connector_mysql.po
  lib/dl_connector_mysql/dl_connector_mysql_tests/db/config.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/db/core/base.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/db/core/test_adapter.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/db/core/test_connection.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/db/core/test_connection_executor.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_mysql/docker-compose.yml
  lib/dl_connector_mysql/docker-compose/Dockerfile.db-mysql-8.0.40-ssl
  lib/dl_connector_mysql/docker-compose/tests/fetch-certificates.sh
  lib/testenv-common/images/Dockerfile.ssl-provider
Labels: type/feat

#742 deps: BI-5958 bump requests, jinja2, idna, zipp, werkzeug, docker-py
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/deps

#740 feat: BI-5901 add secrepr function for dict
  lib/dl_core/dl_core/us_manager/us_manager.py
  lib/dl_core/dl_core/utils.py
Labels: type/feat

#749 ci: BI-5983 fix dl-auth-native package name
  lib/dl_auth_native/pyproject.toml
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/ci

#750 feat: BI-5983 add dl-settings
  lib/dl_auth_api_lib/dl_auth_api_lib/app.py
  lib/dl_auth_api_lib/dl_auth_api_lib/oauth/google.py
  lib/dl_auth_api_lib/dl_auth_api_lib/oauth/yandex.py
  lib/dl_auth_api_lib/dl_auth_api_lib/settings.py
  lib/dl_auth_api_lib/dl_auth_api_lib/utils/pydantic.py
  lib/dl_auth_api_lib/dl_auth_api_lib_tests/conftest.py
  lib/dl_auth_api_lib/pyproject.toml
  lib/dl_settings/LICENSE
  lib/dl_settings/README.md
  lib/dl_settings/dl_settings/__init__.py
  lib/dl_settings/dl_settings/base/__init__.py
  lib/dl_settings/dl_settings/base/settings.py
  lib/dl_settings/dl_settings/base/typed.py
  lib/dl_settings/dl_settings/py.typed
  lib/dl_settings/dl_settings_tests/__init__.py
  lib/dl_settings/dl_settings_tests/unit/__init__.py
  lib/dl_settings/dl_settings_tests/unit/base/__init__.py
  lib/dl_settings/dl_settings_tests/unit/base/test_settings.py
  lib/dl_settings/dl_settings_tests/unit/base/test_typed.py
  lib/dl_settings/dl_settings_tests/unit/conftest.py
  lib/dl_settings/dl_settings_tests/utils/__init__.py
  lib/dl_settings/dl_settings_tests/utils/tmp_configs.py
  lib/dl_settings/pyproject.toml
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/feat

#752 ci: BI-0 use GH hosted runners
  .github/workflows/main.yml
Labels: type/ci

#761 ci: BI-0 test restart policy
  lib/testenv-common/docker-compose.common.yml
Labels: type/ci

#674 feat: BI-4316 add ago filtration
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/complex_queries/test_lookup_functions.py
  lib/dl_formula/dl_formula/core/fork_nodes.py
  lib/dl_formula/dl_formula/mutation/lookup.py
  lib/dl_formula/dl_formula/shortcuts.py
  lib/dl_formula/dl_formula_tests/unit/mutation/test_subquery_mutations.py
  lib/dl_formula/pyproject.toml
  lib/dl_query_processing/dl_query_processing/multi_query/splitters/mask_based.py
  lib/dl_query_processing/dl_query_processing/multi_query/splitters/query_fork.py
  lib/dl_query_processing/dl_query_processing/multi_query/splitters/win_func.py
  lib/dl_query_processing/dl_query_processing_tests/unit/multi_query/test_splitter.py
  lib/dl_query_processing/pyproject.toml
  tools/taskfiles/taskfile_dev.yml
Labels: type/feat

#753 feat: BI-0 add new settings with fallbacks
  app/dl_control_api/dl_control_api/app.py
  app/dl_control_api/dl_control_api/app_factory.py
  app/dl_data_api/dl_data_api/app.py
  app/dl_data_api/dl_data_api/app_factory.py
  lib/dl_api_lib/dl_api_lib/app_settings.py
  lib/dl_api_lib/pyproject.toml
  lib/dl_auth_api_lib/dl_auth_api_lib/settings.py
  lib/dl_settings/dl_settings/__init__.py
  lib/dl_settings/dl_settings/base/__init__.py
  lib/dl_settings/dl_settings/base/fallback.py
  lib/dl_settings/dl_settings/base/typed.py
  lib/dl_settings/dl_settings_tests/unit/base/test_fallback.py
  lib/dl_settings/dl_settings_tests/unit/base/test_typed.py
  lib/dl_settings/pyproject.toml
  tools/e2e/Taskfile.yaml
Labels: type/feat

#758 ci: BI-0 fix e2e tasks
  tools/e2e/Taskfile.yaml
  tools/e2e/docker-compose.e2e-dev-backend.yaml
Labels: type/ci

#756 feat: BI-5951 presigned url generation in file-uploader-api
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/app.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/schemas/files.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/files.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/test_files_api.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/req_builder.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib/redis_model/models/models.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib/redis_model/models/storage_schemas.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/download_yadocs.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/excel.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/save.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/utils/file_parser.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/db/conftest.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/db/test_tasks.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/ext/test_yadocs.py
  lib/dl_s3/dl_s3/s3_service.py
Labels: type/feat

#764 fix: BI-0 os app settings allow extra
  lib/dl_api_lib/dl_api_lib/app_settings.py
Labels: type/fix

#765 fix: BI-0 Add missing SSL fields to MySQL connection storage schema
  lib/dl_connector_mysql/dl_connector_mysql/core/storage_schemas/connection.py
Labels: type/fix

#766 test: BI-0 Fix connection base tests to obtain real connection entry from US
  lib/dl_core_testing/dl_core_testing/connection.py
Labels: type/test

#767 ci: BI-0 back k8s runners
  .github/workflows/main.yml
Labels: type/ci

#762 feat: BI-5952 file-uploader-api handler for processing presigned file from bucket
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/app.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/schemas/files.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/files.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/conftest.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/conftest.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/test_files_api.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/ext/test_update_data_gsheets.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/ext/test_update_data_yadocs.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/req_builder.py
  lib/dl_file_uploader_api_lib/docker-compose.yml
  lib/dl_file_uploader_lib/dl_file_uploader_lib/redis_model/models/models.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/ext/test_yadocs.py
  lib/dl_s3/dl_s3/s3_service.py
  lib/dl_s3/dl_s3/utils.py
  lib/dl_testing/dl_testing/s3_utils.py
Labels: type/feat

#754 refactor: BI-5948 pass req_model to resolve_rls_groups_for_dataset
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/base.py
Labels: type/refactor

#771 chore: BI-0 add s3-storage with minio to common docker-compose, use it everywhere
  lib/dl_connector_bundle_chs3/docker-compose.yml
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/conftest.py
  lib/dl_file_uploader_api_lib/docker-compose.yml
  lib/dl_file_uploader_api_lib/docker-compose/Dockerfile.init-db
  lib/dl_file_uploader_api_lib/docker-compose/init-db/entrypoint.sh
  lib/dl_file_uploader_api_lib/docker-compose/init-db/s3/docker-entrypoint-initdb.d/initialize.sh
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/conftest.py
  lib/dl_file_uploader_worker_lib/docker-compose.yml
  lib/dl_file_uploader_worker_lib/docker-compose/Dockerfile.init-db
  lib/dl_file_uploader_worker_lib/docker-compose/init-db/entrypoint.sh
  lib/dl_file_uploader_worker_lib/docker-compose/init-db/s3/docker-entrypoint-initdb.d/initialize.sh
  lib/testenv-common/docker-compose.common.yml
  terrarium/bi_ci/bi_ci_tests/unit/resources/docker-compose.expected.yml
  terrarium/bi_ci/bi_ci_tests/unit/resources/docker-compose.src.yml
Labels: type/chore

#773 fix(connectors): BI-5792 Return default ssl to MySQL sync connector
  lib/dl_connector_mysql/dl_connector_mysql/core/adapters_mysql.py
  lib/dl_connector_mysql/pyproject.toml
Labels: component/connectors, type/fix

#768 sec: BI-5958 bump aiohttp & yarl
  lib/dl_api_commons/dl_api_commons/aio/middlewares/tracing.py
  lib/dl_api_commons/dl_api_commons/aiohttp/aiohttp_client.py
  lib/dl_api_commons/dl_api_commons/aiohttp/aiohttp_wrappers.py
  lib/dl_core_testing/dl_core_testing/testcases/remote_query_executor.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/conftest.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/excel.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/conftest.py
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/sec

#755 sec(datasets): BI-5998 require connection read permission on any dataset source action
  lib/dl_api_lib/dl_api_lib/dataset/utils.py
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
Labels: type/sec, component/datasets
