Repository datalens-tech/datalens-backend, pull requests merged in 2024-11, with the labels that each got.

#685 feat: BI-5890 enable datasource schema update for Bitrix
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds/core/data_source.py
Labels: type/feat

#687 ci: BI-0 Enforcing "task dev:init" to use python version defined by pyenv
  .gitignore
  .python-version
  metapkg/poetry.toml
Labels: type/ci

#688 ci: BI-0 fix runnig commands in dev venv
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#684 feat: BI-5888 add AUTH.TYPE = 'none'
  app/dl_control_api/dl_control_api/app_factory.py
  app/dl_data_api/dl_data_api/app_factory.py
  tools/taskfiles/taskfile_dev.yml
Labels: type/feat

#690 sec(connectors): BI-0 forbid redirects in promql connector
  lib/dl_connector_promql/dl_connector_promql/core/adapter.py
  lib/dl_sqlalchemy_promql/dl_sqlalchemy_promql/cli.py
Labels: type/sec, component/connectors

#691 sec(connectors): BI-0 forbid redirects in bitrix connector
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds/core/adapter.py
Labels: type/sec, component/connectors

#686 feat: BI-5892 implement cancellation of task processor jobs
  lib/dl_task_processor/dl_task_processor/arq_wrapper.py
  lib/dl_task_processor/dl_task_processor/executor.py
  lib/dl_task_processor/dl_task_processor/processor.py
  lib/dl_task_processor/dl_task_processor/state.py
  lib/dl_task_processor/dl_task_processor/worker.py
  lib/dl_task_processor/dl_task_processor_tests/db/test_schedule_task.py
Labels: type/feat

#689 feat: BI-5791 orjson for marshmallow
  lib/dl_core/dl_core/us_manager/storage_schemas/base.py
  lib/dl_core/dl_core/us_manager/us_manager_async.py
  lib/dl_core/pyproject.toml
  metapkg/poetry.lock
Labels: type/feat

#693 ci: BI-0 fix `task dev:...` inconsistency
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#697 ci: BI-5768 add build, light, fat runners
  .github/workflows/main.yml
Labels: type/ci

#699 test: BI-0 use release tag for US in tests
  lib/testenv-common/images/Dockerfile.us
Labels: type/test

#700 fix: BI-5864 fixes for connection replacements
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle/core/data_source_migration.py
Labels: type/fix

#698 test: BI-0 upload test data in bigger chunks
  lib/dl_db_testing/dl_db_testing/database/base.py
Labels: type/test

#694 feat(optimization): BI-5899 optimize AND/OR comparisons in filters
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_optimizations.py
  lib/dl_formula/dl_formula/mutation/optimization.py
  lib/dl_formula/dl_formula_tests/unit/mutation/test_optimization.py
  lib/dl_formula_testing/dl_formula_testing/forced_literal.py
  lib/dl_query_processing/dl_query_processing/compilation/query_mutator.py
Labels: component/optimization, type/feat

#704 ci: BI-0 add `task dev:test` LOG_LEVEL
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#695 test(datasets): BI-5864 add replace connection connectors tests
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/dataset_suite.py
Labels: component/datasets, type/test

#692 feat: BI-5673 use msgpack in RQE serialization
  lib/dl_core/dl_core/connection_executors/adapters/async_adapters_remote.py
  lib/dl_core/dl_core/connection_executors/models/constants.py
  lib/dl_core/dl_core/connection_executors/remote_query_executor/app_async.py
  lib/dl_core/dl_core/connection_executors/remote_query_executor/app_sync.py
  lib/dl_core_testing/dl_core_testing/testcases/remote_query_executor.py
  lib/dl_model_tools/dl_model_tools/msgpack.py
  lib/dl_model_tools/dl_model_tools/serialization.py
  lib/dl_model_tools/dl_model_tools_tests/unit/config.py
  lib/dl_model_tools/dl_model_tools_tests/unit/test_json_serializer.py
  lib/dl_model_tools/dl_model_tools_tests/unit/test_msgpack.py
  lib/dl_model_tools/pyproject.toml
  metapkg/poetry.lock
Labels: type/feat

#705 sec: BI-0 update terrarium dependencies
  terrarium/bi_ci/poetry.lock
Labels: type/sec

#709 fix: BI-5864 add missing source type for promql connection
  lib/dl_connector_promql/dl_connector_promql/core/us_connection.py
Labels: type/fix

#583 feat: BI-5711 switch to the new inter-tenant handler for entries iteration
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_info.py
  lib/dl_core/dl_core/united_storage_client.py
  lib/dl_core/dl_core/united_storage_client_aio.py
  lib/dl_core/dl_core/us_manager/us_manager.py
  lib/dl_core/dl_core/us_manager/us_manager_async.py
  lib/dl_core/dl_core/us_manager/us_manager_sync.py
Labels: type/feat

#710 feat(connectors): BI-5718 add ClickHouse readonly level control
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/adapter.py
  lib/dl_connector_chyt/dl_connector_chyt/core/adapters.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/api/api_schema/connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/api/connection_form/form_config.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/adapters.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/ch_commons.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/connection_executors.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/dto.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/exc.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/storage_schemas/connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/target_dto.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/locales/en/LC_MESSAGES/dl_connector_clickhouse.mo
  lib/dl_connector_clickhouse/dl_connector_clickhouse/locales/en/LC_MESSAGES/dl_connector_clickhouse.po
  lib/dl_connector_clickhouse/dl_connector_clickhouse/locales/ru/LC_MESSAGES/dl_connector_clickhouse.mo
  lib/dl_connector_clickhouse/dl_connector_clickhouse/locales/ru/LC_MESSAGES/dl_connector_clickhouse.po
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/api/base.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/api/test_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/api/test_data.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/api/test_dataset.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/config.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/core/base.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/core/test_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_clickhouse/docker-compose/db-clickhouse/users.xml
Labels: component/connectors, changelog, type/feat

#712 fix: BI-0 localization for url_path
  lib/dl_api_connector/dl_api_connector/locales/en/LC_MESSAGES/dl_api_connector.mo
  lib/dl_api_connector/dl_api_connector/locales/en/LC_MESSAGES/dl_api_connector.po
  lib/dl_api_connector/dl_api_connector/locales/ru/LC_MESSAGES/dl_api_connector.mo
  lib/dl_api_connector/dl_api_connector/locales/ru/LC_MESSAGES/dl_api_connector.po
Labels: type/fix

#713 ci: BI-0 Build option to compose up, down with volumes and orphans removal, compose-show-logs task
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#716 ci: BI-0 `task dev:compose-remote...` no assuming dl-vm alias is set
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#706 feat(formula): BI-5887 Add TOOLTIP markup
  lib/dl_connector_bigquery/dl_connector_bigquery/formula/definitions/functions_markup.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/formula/definitions/functions_markup.py
  lib/dl_connector_mssql/dl_connector_mssql/formula/definitions/functions_markup.py
  lib/dl_connector_mysql/dl_connector_mysql/formula/definitions/functions_markup.py
  lib/dl_connector_oracle/dl_connector_oracle/formula/definitions/functions_markup.py
  lib/dl_connector_postgresql/dl_connector_postgresql/formula/definitions/functions_markup.py
  lib/dl_connector_snowflake/dl_connector_snowflake/formula/definitions/functions_markup.py
  lib/dl_connector_ydb/dl_connector_ydb/formula/definitions/functions_markup.py
  lib/dl_formula/dl_formula/definitions/functions_markup.py
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_markup.py
  lib/dl_query_processing/dl_query_processing/postprocessing/postprocessors/markup.py
  lib/dl_query_processing/dl_query_processing_tests/unit/postprocessing/test_markup.py
Labels: component/formula, type/feat

#717 build: BI-0 pin orjson and msgpack versions
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/build

#715 refactor: BI-5920 proper typing in data sinks
  lib/dl_core/dl_core/data_sink.py
  lib/dl_core/dl_core/raw_data_streaming/stream.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib/data_sink/json_each_row.py
Labels: type/refactor

#719 ci: BI-0 use poetry for mypy deps
  ci/requirements_types.txt
  docker_build/bake_ci.hcl
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/ci

#720 fix: BI-5718 readonly load default value fix in storage schema
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/storage_schemas/connection.py
Labels: type/fix

#718 refactor: BI-5920 dl_s3 package
  lib/dl_core/dl_core/data_source/__init__.py
  lib/dl_core/pyproject.toml
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/app.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/dl_request.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/files.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/test_files_api.py
  lib/dl_file_uploader_api_lib/pyproject.toml
  lib/dl_file_uploader_lib/pyproject.toml
  lib/dl_file_uploader_task_interface/dl_file_uploader_task_interface/context.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/app.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/download_gsheets.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/download_yadocs.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/excel.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/save.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/utils/file_parser.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/utils/s3_utils.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/ext/test_gsheets.py
  lib/dl_file_uploader_worker_lib/pyproject.toml
  lib/dl_s3/LICENSE
  lib/dl_s3/README.md
  lib/dl_s3/dl_s3/__init__.py
  lib/dl_s3/dl_s3/data_sink/__init__.py
  lib/dl_s3/dl_s3/data_sink/base.py
  lib/dl_s3/dl_s3/data_sink/json_each_row.py
  lib/dl_s3/dl_s3/data_sink/raw_bytes.py
  lib/dl_s3/dl_s3/py.typed
  lib/dl_s3/dl_s3/s3_service.py
  lib/dl_s3/dl_s3/stream.py
  lib/dl_s3/dl_s3_tests/__init__.py
  lib/dl_s3/dl_s3_tests/unit/__init__.py
  lib/dl_s3/dl_s3_tests/unit/conftest.py
  lib/dl_s3/pyproject.toml
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/refactor

#721 ci: BI-0 add `task dev:mypy`
  lib/dl_api_lib/pyproject.toml
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#724 dev: BI-0 set platform for bakes used in gen tasks explicitly
  tools/taskfiles/taskfile_gen.yml
Labels: type/dev

#725 ci: BI-0 add US PG healthcheck in test compose files, move US service…
  lib/dl_api_lib/dl_api_lib_tests/db/config.py
  lib/dl_api_lib/docker-compose.yml
  lib/dl_connector_bigquery/docker-compose.yml
  lib/dl_connector_bitrix_gds/docker-compose.yml
  lib/dl_connector_bundle_chs3/docker-compose.yml
  lib/dl_connector_clickhouse/docker-compose.yml
  lib/dl_connector_greenplum/docker-compose.yml
  lib/dl_connector_metrica/docker-compose.yml
  lib/dl_connector_mssql/docker-compose.yml
  lib/dl_connector_mysql/docker-compose.yml
  lib/dl_connector_oracle/docker-compose.yml
  lib/dl_connector_postgresql/docker-compose.yml
  lib/dl_connector_promql/docker-compose.yml
  lib/dl_connector_snowflake/docker-compose.yml
  lib/dl_connector_ydb/docker-compose.yml
  lib/dl_core/docker-compose.yml
  lib/dl_file_uploader_api_lib/docker-compose.yml
  lib/dl_file_uploader_worker_lib/docker-compose.yml
  lib/testenv-common/docker-compose.common.yml
Labels: type/ci

#696 feat(formula): BI-5525 add arr_intersect function
  lib/dl_connector_clickhouse/dl_connector_clickhouse/formula/definitions/functions_array.py
  lib/dl_connector_postgresql/dl_connector_postgresql/formula/definitions/functions_array.py
  lib/dl_formula/dl_formula/definitions/functions_array.py
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_array.py
Labels: component/formula, type/feat

#726 ci: BI-0 remove ports from common compose
  lib/testenv-common/docker-compose.common.yml
Labels: type/ci

#727 feat: BI-5859 add report_id & report_page to reporting
  lib/dl_api_commons/dl_api_commons/reporting/profiler.py
  lib/dl_constants/dl_constants/api_constants.py
Labels: type/feat

#728 feat: BI-5771 add display_mode to reporting
  lib/dl_api_commons/dl_api_commons/reporting/profiler.py
  lib/dl_constants/dl_constants/api_constants.py
Labels: type/feat

#732 refactor: BI-5948 move body signature middlewares to dl_api_commons
  lib/dl_api_commons/dl_api_commons/aio/middlewares/body_signature.py
  lib/dl_api_commons/dl_api_commons/crypto.py
  lib/dl_api_commons/dl_api_commons/flask/middlewares/body_signature.py
  lib/dl_core/dl_core/connection_executors/adapters/async_adapters_remote.py
  lib/dl_core/dl_core/connection_executors/remote_query_executor/app_async.py
  lib/dl_core/dl_core/connection_executors/remote_query_executor/app_sync.py
  lib/dl_core/dl_core/connection_executors/remote_query_executor/crypto.py
Labels: type/refactor
