Repository datalens-tech/datalens-backend, pull requests merged in 2024-10, with the labels that each got.

#626 feat(optimization): BI-5731 optimize binary operators comparisons in filters
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_optimizations.py
  lib/dl_formula/dl_formula/mutation/optimization.py
  lib/dl_formula/dl_formula_tests/unit/mutation/test_optimization.py
  lib/dl_query_processing/dl_query_processing/compilation/query_mutator.py
Labels: changelog, component/optimization, type/feat

#631 fix(embeds): BI-5750 handle the INCORRECT_ENTRY_ID_FOR_EMBED error from US
  lib/dl_api_lib/dl_api_lib/aio/middlewares/error_handling_outer.py
  lib/dl_api_lib/dl_api_lib/api_decorators.py
  lib/dl_api_lib/dl_api_lib/error_handling.py
  lib/dl_api_lib/dl_api_lib_tests/unit/test_error_handling.py
  lib/dl_core/dl_core/exc.py
  lib/dl_core/dl_core/united_storage_client.py
Labels: changelog, type/fix, component/embeds

#644 ci: BI-0 fix docker build workflow
  .github/workflows/build_debian_docker.yml
Labels: type/ci

#635 feat(optimization): BI-5731 support IN/NOT IN in the binary operators comparisons optimization
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_optimizations.py
  lib/dl_formula/dl_formula/mutation/optimization.py
  lib/dl_formula/dl_formula_tests/unit/mutation/test_optimization.py
Labels: component/optimization, type/feat

#642 ci: BI-0 add script for autolabeling
  .github/labeler.yml
  .github/workflows/main.yml
  .github/workflows/validate-pr-name.yml
Labels: type/ci

#650 feat: BI-0 add needs and remove unnecessary perm
  .github/workflows/validate-pr-name.yml
Labels: type/feat

#651 sec: BI-0 update versions
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_common_logging.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/excel.py
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/sec

#648 refactor(formula): BI-0 move datetime_interval_ch to the dl_connector_clickhouse package
  lib/dl_connector_clickhouse/dl_connector_clickhouse/formula/definitions/functions_datetime.py
  lib/dl_formula/dl_formula/definitions/common_datetime.py
Labels: component/formula, type/refactor

#646 fix(formula): BI-5854 fix translation cache
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/api/test_data.py
  lib/dl_formula/dl_formula/translation/translator.py
  lib/dl_formula/dl_formula_tests/unit/translation/test_translator.py
Labels: component/formula, type/fix

#649 test: BI-5103 add more api lib tests
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_errors.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_basic.py
Labels: type/test

#647 feat(formula): BI-5530 optimize constant math operations
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_parameters.py
  lib/dl_formula/dl_formula/mutation/optimization.py
  lib/dl_formula/dl_formula_tests/unit/mutation/test_optimization.py
  lib/dl_formula_testing/dl_formula_testing/evaluator.py
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_aggregation.py
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_window.py
  lib/dl_query_processing/dl_query_processing/compilation/formula_compiler.py
Labels: component/formula, changelog, type/feat

#659 fix: BI-5629 ipv6 hosts support added to rqe target host check
  lib/dl_core/dl_core/connection_executors/remote_query_executor/app_async.py
  lib/dl_core/dl_core/connection_executors/remote_query_executor/app_sync.py
Labels: type/fix

#658 ci: BI-5344 remove deptry ignores while checking missing requirements
  lib/dl_auth_api_lib/pyproject.toml
  lib/dl_connector_bigquery/pyproject.toml
  lib/dl_connector_ydb/pyproject.toml
  metapkg/poetry.lock
  tools/taskfiles/taskfile_code_quality.yml
Labels: type/ci

#660 sec: BI-5329 upgrade cryptography
  ci/requirements_types.txt
  metapkg/poetry.lock
  metapkg/pyproject.toml
  tools/taskfiles/taskfile_dev.yml
Labels: type/sec

#662 test: BI-0 update werkzeug testing utils for the new version
  lib/dl_api_lib_testing/dl_api_lib_testing/client.py
Labels: type/test

#663 ci: BI-0 move commitlint action to other repo
  .github/actions/commitlint-action/.editorconfig
  .github/actions/commitlint-action/.eslintignore
  .github/actions/commitlint-action/.eslintrc
  .github/actions/commitlint-action/.gitignore
  .github/actions/commitlint-action/action.yaml
  .github/actions/commitlint-action/babel.config.cjs
  .github/actions/commitlint-action/jest.config.js
  .github/actions/commitlint-action/package-lock.json
  .github/actions/commitlint-action/package.json
  .github/actions/commitlint-action/src/commitlint.config.js
  .github/actions/commitlint-action/src/commitlint.config.test.js
  .github/actions/commitlint-action/src/config.js
  .github/actions/commitlint-action/src/config.test.js
  .github/workflows/validate-pr-name.yml
Labels: type/ci

#664 fix(connectors): BI-5804 Fix limit in bitrix cache
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds/core/adapter.py
Labels: component/connectors, type/fix

#665 fix(formula): BI-5530 fix division by zero in OptimizeConstMathOperatorMutation
  lib/dl_formula/dl_formula/mutation/optimization.py
  lib/dl_formula/dl_formula_tests/unit/mutation/test_optimization.py
Labels: component/formula, type/fix

#670 test(connectors): BI-0 fix snowflake auth test once again
  lib/dl_auth_api_lib/dl_auth_api_lib_tests/ext/test_snowflake.py
Labels: component/connectors, type/test

#671 test(connectors): BI-0 update filter in metrica tests
  lib/dl_connector_metrica/dl_connector_metrica_tests/ext/api/test_data.py
Labels: component/connectors, type/test

#672 ci: BI-5866 remove unused script
  .github/.scripts/git_config_save_directory.sh
Labels: type/ci

#668 fix(formula): BI-5455 fix LODs with constant functions in query
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/complex_queries/test_ext_agg_corner_cases.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_markup.py
  lib/dl_formula/dl_formula/definitions/functions_markup.py
  lib/dl_formula/dl_formula/definitions/registry.py
  lib/dl_formula/dl_formula/inspect/expression.py
  lib/dl_formula/dl_formula_tests/unit/inspect/test_expression.py
  lib/dl_formula/dl_formula_tests/unit/scripts/test_formula_cli.py
Labels: component/formula, type/fix

#673 test: BI-5886 unknown field in modificators tests
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/complex_queries/test_lookup_functions.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/complex_queries/test_window_functions.py
Labels: type/test

#676 ci: BI-5866 add log levels to stderr in splitter
  terrarium/bi_ci/bi_ci/split_pytest_tasks.py
Labels: type/ci

#677 ci: BI-0 remove release option in prerelease action
  .github/workflows/release_prerelease.yaml
Labels: type/ci

#675 ci: BI-0 add pythin bins to path on dev:venv_run
  Taskfile.dist.yml
  lib/dl_api_lib/dl_api_lib_tests/db/conftest.py
  lib/dl_api_lib_testing/dl_api_lib_testing/initialization.py
  lib/dl_core_testing/dl_core_testing/environment.py
  metapkg/poetry.lock
  metapkg/pyproject.toml
  pyproject.toml
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#678 ci: BI-0 add `task dev:compose_stop_all`
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#679 ci: BI-0 add port forwarding
  lib/dl_api_lib/pyproject.toml
  metapkg/pyproject.toml
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#681 ci: BI-0 change on composite actions
  .github/workflows/terrarium_check.yaml
Labels: type/ci

#683 ci: BI-0 fix `task dev:...` feedback
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci
