Repository datalens-tech/datalens-backend, pull requests merged in 2025-02, with the labels that each got.

#828 fix: BI-5942 default schema migration
  lib/dl_core/dl_core/us_connection.py
Labels: type/fix

#769 feat: BI-5355 Trino core connector
  lib/dl_connector_trino/LICENSE
  lib/dl_connector_trino/README.md
  lib/dl_connector_trino/dl_connector_trino/__init__.py
  lib/dl_connector_trino/dl_connector_trino/api/__init__.py
  lib/dl_connector_trino/dl_connector_trino/core/__init__.py
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino/core/connection_executors.py
  lib/dl_connector_trino/dl_connector_trino/core/connector.py
  lib/dl_connector_trino/dl_connector_trino/core/constants.py
  lib/dl_connector_trino/dl_connector_trino/core/dto.py
  lib/dl_connector_trino/dl_connector_trino/core/error_transformer.py
  lib/dl_connector_trino/dl_connector_trino/core/storage_schemas/__init__.py
  lib/dl_connector_trino/dl_connector_trino/core/storage_schemas/connection.py
  lib/dl_connector_trino/dl_connector_trino/core/target_dto.py
  lib/dl_connector_trino/dl_connector_trino/core/type_transformer.py
  lib/dl_connector_trino/dl_connector_trino/core/us_connection.py
  lib/dl_connector_trino/dl_connector_trino/db_testing/__init__.py
  lib/dl_connector_trino/dl_connector_trino/db_testing/connector.py
  lib/dl_connector_trino/dl_connector_trino/db_testing/engine_wrapper.py
  lib/dl_connector_trino/dl_connector_trino/formula/__init__.py
  lib/dl_connector_trino/dl_connector_trino/formula/constants.py
  lib/dl_connector_trino/dl_connector_trino_tests/__init__.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/__init__.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/__init__.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/conftest.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/__init__.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/__init__.py
  lib/dl_connector_trino/dl_connector_trino_tests/unit/__init__.py
  lib/dl_connector_trino/docker-compose.yml
  lib/dl_connector_trino/docker-compose/Dockerfile.db-mysql-8.0.40
  lib/dl_connector_trino/docker-compose/Dockerfile.engine-trino-468
  lib/dl_connector_trino/docker-compose/Dockerfile.engine-trino-no-auth-468
  lib/dl_connector_trino/docker-compose/Dockerfile.trino-tls-nginx
  lib/dl_connector_trino/docker-compose/db-mysql/docker-entrypoint-initdb.d/prepare_db.sql
  lib/dl_connector_trino/docker-compose/nginx/fetch-certificates.sh
  lib/dl_connector_trino/docker-compose/nginx/nginx.conf
  lib/dl_connector_trino/docker-compose/trino/catalog/test_memory_catalog.properties
  lib/dl_connector_trino/docker-compose/trino/catalog/test_mysql_catalog.properties
  lib/dl_connector_trino/docker-compose/trino/config/config.properties
  lib/dl_connector_trino/docker-compose/trino/config/jwt_rsa_public.pem
  lib/dl_connector_trino/docker-compose/trino/config/password-authenticator.properties
  lib/dl_connector_trino/docker-compose/trino/config/password.db
  lib/dl_connector_trino/docker-compose/trino/no_auth_config/config.properties
  lib/dl_connector_trino/pyproject.toml
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/feat

#824 feat: BI-6044 USEntry migration status
  lib/dl_constants/dl_constants/enums.py
  lib/dl_core/dl_core/us_connection_base.py
  lib/dl_core/dl_core/us_entry.py
  lib/dl_core/dl_core/us_manager/schema_migration/base.py
  lib/dl_core/dl_core/us_manager/us_manager.py
  lib/dl_core/dl_core_tests/db/components/test_apply_migration.py
  lib/dl_core/dl_core_tests/unit/us_manager/test_migration.py
Labels: type/feat

#832 feat: BI-6053 add logging to compile_query_for_debug exception
  lib/dl_core/dl_core/utils.py
Labels: type/feat

#831 fix: BI-6041 body type fix in typed query raw schema
  lib/dl_api_lib/dl_api_lib/schemas/typed_query_raw.py
  lib/dl_dashsql/dl_dashsql/typed_query/primitives.py
Labels: type/fix

#829 test: BI-5355 Enable db tests
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
  lib/dl_connector_trino/docker-compose.yml
  lib/dl_connector_trino/docker-compose/Dockerfile.engine-trino-468
  lib/dl_connector_trino/docker-compose/Dockerfile.engine-trino-no-auth-468
  lib/dl_connector_trino/docker-compose/Dockerfile.trino-tls-nginx
  lib/dl_connector_trino/docker-compose/nginx/nginx.conf
  lib/dl_connector_trino/pyproject.toml
Labels: type/test

#835 fix: BI-5942 default migration status
  lib/dl_core/dl_core/us_manager/us_manager.py
Labels: type/fix

#836 test: BI-0 Turn off Trino tests
  lib/dl_connector_trino/pyproject.toml
Labels: type/test

#838 ci: BI-0 fix gh_build_image job
  ci/build_naive.sh
Labels: type/ci

#839 test: BI-5355 Trino. Fix test fixtures execution order
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
Labels: type/test

#834 feat: BI-6018 forbid parameter value_constraint mutation from data_api
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/base.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/preview.py
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_api_lib/dl_api_lib/service_registry/dataset_validator_factory.py
  lib/dl_api_lib/dl_api_lib/service_registry/sr_factory.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_parameters.py
Labels: type/feat

#840 feat: BI-6049 wrap 500->400 add parameter to dataset before source
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/validation/test_parameters.py
Labels: type/feat

#841 ci: BI-0 fix prerelease build
  docker_build/run-project-bake
Labels: type/ci

#842 refactor: BI-0 remove QueryExecutorBase
  lib/dl_api_lib/dl_api_lib/dataset/view.py
  lib/dl_query_processing/dl_query_processing/execution/executor.py
  lib/dl_query_processing/dl_query_processing/execution/executor_base.py
Labels: type/refactor

#843 refactor: BI-0 remove RawQueryCompilerBase
  lib/dl_api_lib/dl_api_lib/dataset/base_wrapper.py
  lib/dl_query_processing/dl_query_processing/compilation/base.py
  lib/dl_query_processing/dl_query_processing/compilation/query_compiler.py
Labels: type/refactor

#844 ci: BI-0 add FS env overriding
  docker_build/run-project-bake
Labels: type/ci

#847 fix(datasets): BI-6085 load dataset connection before updating it from body (control-api)
  lib/dl_api_lib/dl_api_lib/api_common/dataset_loader.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
Labels: component/datasets, type/fix

#849 test: BI-0 Update insert method to accept chunk parameter directly
  lib/dl_db_testing/dl_db_testing/database/base.py
Labels: type/test

#851 fix: BI-5975 Endpoint registration fix
  lib/dl_api_lib/dl_api_lib/app/control_api/app.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
Labels: type/fix

#850 ci: BI-0 add task dev:test-remote
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#852 docs: BI-0 enrich task dev:help
  tools/taskfiles/taskfile_dev.yml
Labels: type/docs

#853 test: BI-0 Add support for executemany in DbTableBase insert method
  lib/dl_db_testing/dl_db_testing/database/base.py
Labels: type/test

#854 test: BI-0 Add optional schema_name to sample_table
  lib/dl_core_testing/dl_core_testing/csv_table_dumper.py
  lib/dl_core_testing/dl_core_testing/fixtures/dispenser.py
Labels: type/test

#822 feat(datasets): BI-6047 Dataset export
  lib/dl_api_client/dl_api_client/dsmaker/api/dataset_api.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
  lib/dl_api_lib/dl_api_lib/schemas/main.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/dataset_suite.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_core/dl_core/us_dataset.py
Labels: component/datasets, type/feat

#848 feat: BI-6088 add typed query raw reporting records
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/typed_query_raw.py
  lib/dl_core/dl_core/data_processing/typed_query_raw.py
Labels: type/feat

#857 test: BI-0 Use existing_table_ident for schema definition in test_get_table_names
  lib/dl_core_testing/dl_core_testing/testcases/connection_executor.py
Labels: type/test

#855 test: BI-0 Force table name to be generated in lowercase in CsvTableDumper
  lib/dl_connector_oracle/dl_connector_oracle_tests/db/core/test_connection_executor.py
  lib/dl_core_testing/dl_core_testing/csv_table_dumper.py
Labels: type/test

#860 sec: BI-6029 create ssl context for secure-reader in a more secure way
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/excel.py
Labels: type/sec

#862 refactor: BI-6073 drop DataSourceCollectionType
  lib/dl_api_lib/dl_api_lib/api_common/dataset_loader.py
  lib/dl_api_lib/dl_api_lib/dataset/base_wrapper.py
  lib/dl_api_lib/dl_api_lib/dataset/component_abstraction.py
  lib/dl_api_lib/dl_api_lib/dataset/utils.py
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_constants/dl_constants_tests/unit/test_stuff.py
  lib/dl_core/dl_core/components/accessor.py
  lib/dl_core/dl_core/components/editor.py
  lib/dl_core/dl_core/data_source/__init__.py
  lib/dl_core/dl_core/data_source/collection.py
  lib/dl_core/dl_core/data_source_spec/collection.py
  lib/dl_core/dl_core/dataset_capabilities.py
  lib/dl_core/dl_core/us_dataset.py
  lib/dl_core/dl_core/us_manager/storage_schemas/data_source_collection.py
  lib/dl_core/dl_core/us_manager/storage_schemas/dataset.py
  lib/dl_core_testing/dl_core_testing/dataset_wrappers.py
Labels: type/refactor

#863 test: BI-0 Remove db_table fixture
  lib/dl_connector_bigquery/dl_connector_bigquery_tests/ext/core/test_connection_executor.py
  lib/dl_core_testing/dl_core_testing/testcases/connection_executor.py
Labels: type/test

#864 feat: BI-6076 entry revisions data
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_revision.py
  lib/dl_core/dl_core/united_storage_client.py
  lib/dl_core/dl_core/united_storage_client_aio.py
Labels: type/feat

#865 feat: BI-6076 revId for dataset in control-api
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
  lib/dl_api_lib/dl_api_lib/schemas/main.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_revision.py
Labels: type/feat
