Repository datalens-tech/datalens-backend, pull requests merged in 2025-10, with the labels that each got.

#1252 dev: BI-0 squash commits task
  Taskfile.dist.yml
  tools/taskfiles/taskfile_dev.yml
Labels: type/dev

#1262 feat: BI-6553 Add Trino query timeout
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino/core/error_transformer.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection_executor.py
  lib/dl_connector_trino/docker-compose/trino/catalog/blackhole.properties
  lib/dl_core_testing/dl_core_testing/testcases/connection_executor.py
Labels: type/feat

#1266 revert: BI-6604 Add hidden `description` field to all forms
  lib/dl_api_connector/dl_api_connector/form_config/models/api_schema.py
  lib/dl_api_connector/dl_api_connector/form_config/models/base.py
  lib/dl_api_connector/dl_api_connector/form_config/models/common.py
  lib/dl_connector_bigquery/dl_connector_bigquery_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_bigquery/dl_connector_bigquery_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/False_False_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/False_False_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/False_True_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/False_True_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/True_False_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/True_False_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/True_True_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/True_True_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/False_False_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/False_False_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/False_True_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/False_True_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/True_False_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/True_False_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/True_True_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/True_True_False_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/False_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/True_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_promql/dl_connector_promql_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_promql/dl_connector_promql_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_trino/dl_connector_trino_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_trino/dl_connector_trino_tests/unit/expected_forms/TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/False_False_None_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/False_False_None_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/True_False_None_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_create.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/True_False_None_True_TenantCommon(is_background_data_export_allowed=False, is_data_export_enabled=True)_edit.json
Labels: type/revert

#1268 ci: BI-0 mypy ignore deepdiff
  lib/dl_pydantic/pyproject.toml
Labels: type/ci

#1263 feat: BI-6472 add listing params to dataset options
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
  lib/dl_api_lib/dl_api_lib/schemas/options.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/dataset_suite.py
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/feat

#1267 feat: BI-6562 feature property for conn history
  lib/dl_api_connector/dl_api_connector/connection_info.py
  lib/dl_api_lib/dl_api_lib/connector_availability/base.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_info.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_gsheets/api/connection_info.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_yadocs/api/connection_info.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/file/api/connection_info.py
Labels: type/feat

#1274 ci: BI-6498 add dl_temporal
  lib/dl_temporal/LICENSE
  lib/dl_temporal/README.md
  lib/dl_temporal/dl_temporal/__init__.py
  lib/dl_temporal/dl_temporal/client.py
  lib/dl_temporal/dl_temporal/py.typed
  lib/dl_temporal/dl_temporal_tests/__init__.py
  lib/dl_temporal/dl_temporal_tests/db/__init__.py
  lib/dl_temporal/dl_temporal_tests/db/client/__init__.py
  lib/dl_temporal/dl_temporal_tests/db/client/test_check_health.py
  lib/dl_temporal/dl_temporal_tests/db/client/test_metadata.py
  lib/dl_temporal/dl_temporal_tests/db/conftest.py
  lib/dl_temporal/docker-compose-dev.yml
  lib/dl_temporal/docker-compose.yml
  lib/dl_temporal/pyproject.toml
  lib/dl_testing/dl_testing/__init__.py
  lib/dl_testing/dl_testing/containers.py
  lib/dl_testing/dl_testing/env_params/__init__.py
  lib/testenv-common/docker-compose.common.yml
  lib/testenv-common/images/temporal/Dockerfile
  lib/testenv-common/images/temporal/dynamicconfig/development.yaml
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/ci
