Repository datalens-tech/datalens-backend, pull requests merged in 2025-04, with the labels that each got.

#939 ci: BI-0 main.yaml fix lost sha
  .github/workflows/main.yml
Labels: type/ci

#941 fix: BI-6167 Delete fields fix
  lib/dl_api_connector/dl_api_connector/api_schema/top_level.py
Labels: type/fix

#937 test: BI-0 Formula arrays test base refactoring
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_array.py
Labels: type/test

#943 feat: BI-5355 Trino formula connector String functions
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_string.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_string.py
Labels: type/feat

#936 feat: BI-5355 Trino formula connector Array functions
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_array.py
  lib/dl_connector_trino/dl_connector_trino/formula/type_constructor.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_array.py
Labels: type/feat

#925 fix(connectors): BI-6120 fix postgres COUNT_ITEM and LEN
  lib/dl_connector_postgresql/dl_connector_postgresql/formula/definitions/functions_array.py
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/db/formula/test_functions_array.py
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/db/formula/test_operators.py
  lib/dl_formula_testing/dl_formula_testing/evaluator.py
  lib/dl_formula_testing/dl_formula_testing/table.py
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_array.py
Labels: component/connectors, type/fix

#927 feat: BI-6073 add templating to datasource
  lib/dl_api_lib/dl_api_lib/api_common/dataset_loader.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/base.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/preview.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/range.py
  lib/dl_api_lib/dl_api_lib/dataset/base_wrapper.py
  lib/dl_api_lib/dl_api_lib/dataset/component_abstraction.py
  lib/dl_api_lib/dl_api_lib/dataset/utils.py
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_api_lib/dl_api_lib/dataset/view.py
  lib/dl_api_lib/dl_api_lib/public/entity_usage_checker.py
  lib/dl_api_lib/dl_api_lib/query/formalization/query_formalizer.py
  lib/dl_api_lib/dl_api_lib/service_registry/dataset_validator_factory.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/validation/test_source_template.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_parameters.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/settings.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_core/dl_core/components/accessor.py
  lib/dl_core/dl_core/data_processing/prepared_components/default_manager.py
  lib/dl_core/dl_core/data_source/base.py
  lib/dl_core/dl_core/data_source/collection.py
  lib/dl_core/dl_core/data_source/sql.py
  lib/dl_core/dl_core/dataset_capabilities.py
  lib/dl_core/dl_core/us_connection_base.py
  lib/dl_core/pyproject.toml
  lib/dl_core_testing/dl_core_testing/dataset_wrappers.py
  lib/dl_core_testing/dl_core_testing/testcases/data_source.py
  lib/dl_maintenance/dl_maintenance/api/updates.py
  lib/dl_query_processing/dl_query_processing/execution/executor.py
  metapkg/poetry.lock
Labels: type/feat

#949 fix: BI-6147 Fix in usm middleware
  lib/dl_core/dl_core/flask_utils/us_manager_middleware.py
Labels: type/fix

#933 fix: BI-6166 Import schema check
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_api_lib/dl_api_lib/schemas/connection.py
  lib/dl_api_lib/dl_api_lib/schemas/main.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/connection_suite.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/dataset_suite.py
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/fix

#947 fix: BI-6172 add exception handling for resolving rls groups
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/base.py
  lib/dl_api_lib/pyproject.toml
  metapkg/poetry.lock
Labels: type/fix

#952 feat: BI-5355 Trino lambda functions constructor
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/custom_constructors.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_array.py
Labels: type/feat

#954 test: BI-5355 Trino formula connector functions_string tests base update
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_string.py
Labels: type/test

#958 feat: BI-6072 add RawSQLLevel.template
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/validation/test_source_template.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_parameters.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/feat

#950 fix: BI-6186 readonly defaults fix
  lib/dl_connector_clickhouse/dl_connector_clickhouse/api/api_schema/connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/adapters.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/connection_executors.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/connector.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/dto.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/storage_schemas/connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/target_dto.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/adapters.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/connection_executors.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/dto.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/storage_schemas/connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/target_dto.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/core/test_adapter.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/core/test_remote_query_executor.py
  lib/dl_core/dl_core_tests/db/components/test_rqe.py
Labels: type/fix

#957 feat: BI-6191 migrate to double curly brackets in datasource template…
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/validation/test_source_template.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_parameters.py
  lib/dl_core/dl_core/data_source/base.py
  lib/dl_core/dl_core/exc.py
  lib/dl_core/dl_core_tests/unit/data_source/__init__.py
  lib/dl_core/dl_core_tests/unit/data_source/base/__init__.py
  lib/dl_core/dl_core_tests/unit/data_source/base/test_renderer.py
Labels: type/feat

#961 feat: BI-5355 Trino formula connector Markup functions
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/all.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_markup.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_markup.py
Labels: type/feat

#963 feat: BI-6189 add DefaultParameterValueConstraint
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_client/dl_api_client/dsmaker/primitives.py
  lib/dl_api_lib/dl_api_lib/schemas/parameters.py
  lib/dl_api_lib/dl_api_lib_tests/unit/schemas/test_parameters.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_core/dl_core/fields.py
  lib/dl_core/dl_core/us_manager/storage_schemas/dataset.py
  lib/dl_core/dl_core_tests/unit/test_fields.py
Labels: type/feat

#945 feat: BI-6180 Delete ym:s:offlinePointRegionName from Metrica
  lib/dl_sqlalchemy_metrica_api/dl_sqlalchemy_metrica_api/api_info/metrika/visits.py
Labels: type/feat

#942 feat: BI-6027 Add data_export_forbidden_flag to dataset
  lib/dl_api_client/dl_api_client/dsmaker/api/dataset_api.py
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_client/dl_api_client/dsmaker/primitives.py
  lib/dl_api_lib/dl_api_lib/api_common/dataset_loader.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
  lib/dl_api_lib/dl_api_lib/schemas/dataset_base.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/dataset_suite.py
  lib/dl_core/dl_core/components/editor.py
  lib/dl_core/dl_core/us_dataset.py
  lib/dl_core/dl_core/us_manager/storage_schemas/dataset.py
  lib/dl_core/dl_core_tests/db/components/test_services_registry.py
Labels: type/feat

#966 fix: BI-5355 Fix datetime literal handling for Trino
  lib/dl_connector_trino/dl_connector_trino/formula/literal.py
Labels: type/fix

#965 refactor: BI-6208 Move ArqRedisService to common package
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/app.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/dl_request.py
  lib/dl_task_processor/dl_task_processor/arq_redis.py
  lib/dl_task_processor/pyproject.toml
  metapkg/poetry.lock
Labels: type/refactor

#970 feat: BI-6217 rename AllParameterValueConstraint->NullParameterValueC…
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_client/dl_api_client/dsmaker/primitives.py
  lib/dl_api_lib/dl_api_lib/schemas/parameters.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_parameters.py
  lib/dl_api_lib/dl_api_lib_tests/unit/schemas/test_parameters.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_core/dl_core/fields.py
  lib/dl_core/dl_core/us_manager/storage_schemas/dataset.py
  lib/dl_core/dl_core_tests/unit/test_fields.py
Labels: type/feat

#969 fix: BI-0 fix IPv6 bind for images
  app/dl_control_api/etc/service/dl_api/run
  app/dl_data_api/etc/service/dl_api/run
Labels: type/fix

#974 fix: BI-0 fix gunicorn app module in data-api run script
  app/dl_data_api/etc/service/dl_api/run
Labels: type/fix

#973 fix: BI-0 unpin mssql binary dependencies
  docker_build/target_dl_base_linux_w_db_bin_dependencies/scripts/002-add-repos.sh
  docker_build/target_dl_base_linux_w_db_bin_dependencies/scripts/300-db-libs.sh
  lib/dl_connector_mssql/dl_connector_mssql/core/adapters_mssql.py
  lib/dl_connector_mssql/dl_connector_mssql_tests/db/api/test_dashsql.py
  lib/dl_connector_mssql/dl_connector_mssql_tests/db/config.py
  lib/dl_connector_mssql/dl_connector_mssql_tests/db/core/test_data_source.py
  lib/dl_core_testing/dl_core_testing/testcases/data_source.py
Labels: type/fix

#975 fix: BI-6167 Delete rls_v1 field from ds export
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
Labels: type/fix

#977 refactor: BI-6190 RawSqlLevelConnectionMixin
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dashsql.py
  lib/dl_connector_bigquery/dl_connector_bigquery/core/us_connection.py
  lib/dl_connector_chyt/dl_connector_chyt/core/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/us_connection.py
  lib/dl_connector_mssql/dl_connector_mssql/core/us_connection.py
  lib/dl_connector_mysql/dl_connector_mysql/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle/core/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/us_connection.py
  lib/dl_connector_snowflake/dl_connector_snowflake/core/us_connection.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/us_connection.py
  lib/dl_core/dl_core/base_models.py
  lib/dl_core/dl_core/us_connection_base.py
  lib/dl_core/dl_core_tests/db/components/test_services_registry.py
Labels: type/refactor

#978 feat: BI-6161 add new placement 'auto' to tooltip func
  lib/dl_query_processing/dl_query_processing/postprocessing/postprocessors/markup.py
  lib/dl_query_processing/dl_query_processing_tests/unit/postprocessing/test_markup.py
Labels: type/feat

#968 build: BI-0 update base ubuntu image to 24.04
  app/dl_control_api/Dockerfile
  app/dl_data_api/Dockerfile
  docker_build/_bake_vars_functions.hcl
  docker_build/bake_apps.hcl
  docker_build/bake_base.hcl
  docker_build/target_base_ci/scripts/500-docker.sh
  docker_build/target_base_noble/Dockerfile
  docker_build/target_base_noble/install_py_310.sh
  docker_build/target_base_noble/trusted.gpg.d/deadsnakes.asc
  docker_build/target_base_noble_db/Dockerfile
Labels: type/build

#983 refactor: BI-6190 ConnectionHardcodedDataMixin->ConnectionSettingsMixin
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/us_connection.py
  lib/dl_connector_chyt/dl_connector_chyt/core/data_source.py
  lib/dl_connector_chyt/dl_connector_chyt/core/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_core/dl_core/data_source/sql.py
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/refactor

#986 feat: BI-6190 add template_enabled to CH DataSourceTemplate
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/feat

#988 dev: BI-0 update typing for multihosts tuple to fix mypy
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/testing/utils.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse_base/us_connection.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/us_connection.py
  lib/dl_connector_mssql/dl_connector_mssql/core/us_connection.py
  lib/dl_connector_mysql/dl_connector_mysql/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle/core/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/us_connection.py
  lib/dl_core/dl_core/connection_models/dto_defs.py
Labels: type/dev

#993 test: BI-6188 add expected forms for connector tests
  lib/dl_connector_bigquery/dl_connector_bigquery_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_bigquery/dl_connector_bigquery_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/False_False_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/False_False_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/False_True_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/False_True_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/True_False_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/True_False_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/True_True_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/True_True_False_TenantCommon()_edit.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_promql/dl_connector_promql_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_promql/dl_connector_promql_tests/unit/expected_forms/TenantCommon()_edit.json
Labels: type/test

#992 fix(connectors): BI-5975 add connection export response schema
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
  lib/dl_api_lib/dl_api_lib/schemas/connection.py
Labels: component/connectors, type/fix

#994 fix: BI-0 dependencies fix
  app/dl_control_api/pyproject.toml
  app/dl_data_api/pyproject.toml
  lib/dl_zitadel/pyproject.toml
  metapkg/poetry.lock
Labels: type/fix

#980 docs: BI-6161 update tooltip docs
  lib/dl_formula_ref/dl_formula_ref/functions/markup.py
  lib/dl_formula_ref/dl_formula_ref/locales/en/LC_MESSAGES/dl_formula_ref_dl_formula_ref.po
  lib/dl_formula_ref/dl_formula_ref/locales/ru/LC_MESSAGES/dl_formula_ref_dl_formula_ref.mo
  lib/dl_formula_ref/dl_formula_ref/locales/ru/LC_MESSAGES/dl_formula_ref_dl_formula_ref.po
Labels: type/docs

#976 feat: BI-6210 add showCreateEditorChartButton
  lib/dl_api_connector/dl_api_connector/form_config/models/base.py
Labels: type/feat

#959 test: BI-0 Formula math DIV(_SAFE) test case for float arguments
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_math.py
Labels: type/test

#982 fix: BI-5355 Clean up Trino's TIME type
  lib/dl_connector_trino/dl_connector_trino/core/type_transformer.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection_executor.py
Labels: type/fix

#984 feat: BI-5355 Trino formula connector Aggregation functions
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/all.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_aggregation.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_type.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_aggregation.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_datetime.py
Labels: type/feat

#989 sec: BI-0 bump gunicorn & virtualenv
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/sec

#997 fix: BI-6217 add backport ParameterValueConstraint all->null
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_lib/dl_api_lib/schemas/parameters.py
  lib/dl_api_lib/dl_api_lib_tests/unit/schemas/test_parameters.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_core/dl_core/us_manager/storage_schemas/dataset.py
Labels: type/fix

#995 test: BI-6188 disable OVERWRITE_EXPECTED_FORMS for all connectors
  lib/dl_api_lib_testing/dl_api_lib_testing/connection_form_base.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/test_connection_form.py
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/False_False_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/False_False_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/False_True_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/False_True_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/True_False_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/True_False_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/True_True_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/AppMetrica/True_True_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/False_False_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/False_False_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/False_True_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/False_True_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/True_False_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/True_False_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/True_True_False_TenantCommon()_create.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/expected_forms/Metrica/True_True_False_TenantCommon()_edit.json
  lib/dl_connector_metrica/dl_connector_metrica_tests/unit/test_connection_form.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/test_connection_form.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/test_connection_form.py
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/test_connection_form.py
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/unit/test_connection_form.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/test_connection_form.py
Labels: type/test

#999 fix: BI-5847 worker retry_hard_limit 100->20
  lib/dl_task_processor/dl_task_processor/worker.py
Labels: type/fix

#991 feat: BI-6188 migrate to raw_sql_level_v2 form config
  lib/dl_api_connector/dl_api_connector/form_config/models/rows/customizable/components.py
  lib/dl_api_connector/dl_api_connector/form_config/models/shortcuts/rows.py
  lib/dl_connector_bigquery/dl_connector_bigquery/api/connection_form/form_config.py
  lib/dl_connector_bigquery/dl_connector_bigquery_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_bigquery/dl_connector_bigquery_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_chyt/dl_connector_chyt/api/connection_form/form_config.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/api/connection_form/form_config.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_greenplum/dl_connector_greenplum/api/connection_form/form_config.py
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_mssql/dl_connector_mssql/api/connection_form/form_config.py
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_mysql/dl_connector_mysql/api/connection_form/form_config.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_oracle/dl_connector_oracle/api/connection_form/form_config.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_postgresql/dl_connector_postgresql/api/connection_form/form_config.py
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_ydb/dl_connector_ydb/api/ydb/connection_form/form_config.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/False_None_TenantCommon()_create.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/False_None_TenantCommon()_edit.json
Labels: type/feat

#1002 feat: BI-6188 add template to CH raw_sql_levels
  lib/dl_connector_clickhouse/dl_connector_clickhouse/api/connection_form/form_config.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/False_TenantCommon()_create.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/False_TenantCommon()_edit.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/True_TenantCommon()_create.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/expected_forms/True_TenantCommon()_edit.json
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/unit/test_connection_form.py
Labels: type/feat

#1003 feat: BI-6149 get default TLS value from settings
  lib/dl_connector_ydb/dl_connector_ydb/api/ydb/connection_form/form_config.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/settings.py
Labels: type/feat

#1000 fix: BI-5355 Move Trino get_catalogs query from adapter to us_connection
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino/core/us_connection.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection.py
Labels: type/fix

#1006 refactor: BI-0 random implicit loop
  lib/dl_query_processing/dl_query_processing/compilation/formula_compiler.py
Labels: type/refactor

#1005 fix: BI-5355 fix TrinoDefaultAdapter._get_db_version
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
Labels: type/fix

#1009 feat: BI-6201 introduce DatasourceTemplateSettingsMixin
  lib/dl_connector_chyt/dl_connector_chyt/core/settings.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/settings.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/connector.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/settings.py
  lib/dl_connector_mssql/dl_connector_mssql/core/connector.py
  lib/dl_connector_mssql/dl_connector_mssql/core/settings.py
  lib/dl_connector_mysql/dl_connector_mysql/core/connector.py
  lib/dl_connector_mysql/dl_connector_mysql/core/settings.py
  lib/dl_connector_oracle/dl_connector_oracle/core/connector.py
  lib/dl_connector_oracle/dl_connector_oracle/core/settings.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/connector.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/settings.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/settings.py
  lib/dl_core/dl_core/connectors/settings/mixins.py
Labels: type/feat

#1010 feat: BI-6201 overload is_datasource_template_allowed using settings
  lib/dl_connector_chyt/dl_connector_chyt/core/us_connection.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/us_connection.py
  lib/dl_connector_mssql/dl_connector_mssql/core/us_connection.py
  lib/dl_connector_mysql/dl_connector_mysql/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle/core/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/us_connection.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/us_connection.py
Labels: type/feat

#1012 fix: BI-6201 con settings defaults and POSTGRESQL->POSTGRES
  lib/dl_connector_chyt/dl_connector_chyt/core/settings.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/settings.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/settings.py
  lib/dl_connector_mssql/dl_connector_mssql/core/settings.py
  lib/dl_connector_mysql/dl_connector_mysql/core/settings.py
  lib/dl_connector_oracle/dl_connector_oracle/core/settings.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/settings.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/settings.py
Labels: type/fix

#1011 feat: BI-0 Add optional schema to data_api tests
  lib/dl_api_lib_testing/dl_api_lib_testing/base.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/complex_queries.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/data_api_suites.py
Labels: type/feat

#1015 feat: BI-5355 Add untested binary operators to Trino
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/operators_binary.py
Labels: type/feat

#1013 feat: BI-6201 add templating to CHYT, YDB datasources
  lib/dl_connector_chyt/dl_connector_chyt/core/data_source.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/data_source.py
Labels: type/feat

#1014 feat: BI-6201 add template_enabled to data_source_template_templates
  lib/dl_connector_chyt/dl_connector_chyt/core/us_connection.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/us_connection.py
  lib/dl_connector_mssql/dl_connector_mssql/core/us_connection.py
  lib/dl_connector_mysql/dl_connector_mysql/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle/core/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/us_connection.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/us_connection.py
Labels: type/feat

#1017 feat: BI-6201 add template level to connector forms raw_sql_levels
  lib/dl_api_connector/dl_api_connector/form_config/models/shortcuts/rows.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_info.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connection_form_base.py
  lib/dl_connector_chyt/dl_connector_chyt/api/connection_form/form_config.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/api/connection_form/form_config.py
  lib/dl_connector_greenplum/dl_connector_greenplum/api/connection_form/form_config.py
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/False_TenantCommon()_create.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/False_TenantCommon()_edit.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/True_TenantCommon()_create.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/expected_forms/True_TenantCommon()_edit.json
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/unit/test_connection_form.py
  lib/dl_connector_mssql/dl_connector_mssql/api/connection_form/form_config.py
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/False_TenantCommon()_create.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/False_TenantCommon()_edit.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/True_TenantCommon()_create.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/expected_forms/True_TenantCommon()_edit.json
  lib/dl_connector_mssql/dl_connector_mssql_tests/unit/test_connection_form.py
  lib/dl_connector_mysql/dl_connector_mysql/api/connection_form/form_config.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/False_TenantCommon()_create.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/False_TenantCommon()_edit.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/True_TenantCommon()_create.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/expected_forms/True_TenantCommon()_edit.json
  lib/dl_connector_mysql/dl_connector_mysql_tests/unit/test_connection_form.py
  lib/dl_connector_oracle/dl_connector_oracle/api/connection_form/form_config.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/False_TenantCommon()_create.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/False_TenantCommon()_edit.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/True_TenantCommon()_create.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/True_TenantCommon()_edit.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/test_connection_form.py
  lib/dl_connector_postgresql/dl_connector_postgresql/api/connection_form/form_config.py
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/False_TenantCommon()_create.json
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/False_TenantCommon()_edit.json
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/True_TenantCommon()_create.json
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/expected_forms/True_TenantCommon()_edit.json
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/unit/test_connection_form.py
  lib/dl_connector_ydb/dl_connector_ydb/api/ydb/connection_form/form_config.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/False_False_None_True_TenantCommon()_create.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/False_False_None_True_TenantCommon()_edit.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/True_False_None_True_TenantCommon()_create.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/True_False_None_True_TenantCommon()_edit.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/test_connection_form.py
  lib/dl_constants/dl_constants/enums.py
Labels: type/feat
