Repository datalens-tech/datalens-backend, pull requests merged in 2025-05, with the labels that each got.

#1018 fix(datasets): BI-6250 use old RLS field only when it is actually set
  lib/dl_api_lib/dl_api_lib/api_common/dataset_loader.py
Labels: component/datasets, type/fix

#1019 fix(connectors): BI-6252 disable user auth for Preview & InternalParams in fu-api
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/api/api_schema/connection.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/us_connection.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/app.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/sources.py
Labels: component/connectors, type/fix

#1020 feat(connectors): BI-5975 allow exports for more connectors
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/connection_suite.py
  lib/dl_connector_bigquery/dl_connector_bigquery/core/us_connection.py
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds/core/us_connection.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/us_connection.py
  lib/dl_connector_chyt/dl_connector_chyt/core/us_connection.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql_base/us_connection.py
  lib/dl_connector_trino/dl_connector_trino/core/us_connection.py
Labels: component/connectors, type/feat

#1022 fix: BI-6155 override USM tenant in import-export with the one from headers
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_auth_native/dl_auth_native/middlewares/flask.py
  lib/dl_zitadel/dl_zitadel/middlewares/flask.py
Labels: type/fix

#1021 feat: BI-6197 common base httpx clients
  lib/dl_api_commons/dl_api_commons/httpx/__init__.py
  lib/dl_api_commons/dl_api_commons/httpx/client.py
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/__init__.py
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/test_async_client.py
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/test_sync_client.py
  lib/dl_api_commons/pyproject.toml
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/feat

#1025 fix: BI-6197 test with payload
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/test_async_client.py
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/test_sync_client.py
Labels: type/fix

#1024 feat: BI-6252 propagate schema op_mode into US entries; skip excess validation in file conn import
  lib/dl_api_connector/dl_api_connector/api_schema/extras.py
  lib/dl_api_connector/dl_api_connector/api_schema/top_level.py
  lib/dl_api_connector/dl_api_connector_tests/unit/test_schemas_base.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/base.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
  lib/dl_api_lib/dl_api_lib/schemas/tools.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/api/api_schema/source.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/us_connection.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_core/dl_core/us_connection_base.py
  lib/dl_core/dl_core/us_entry.py
Labels: type/feat

#1023 fix: BI-6252 add post_dump to file source schemas to handle special fields
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/api/api_schema/source.py
Labels: type/fix

#1028 fix(datasets): BI-6250 ignore old rls on dataset import
  lib/dl_api_lib/dl_api_lib/schemas/main.py
Labels: component/datasets, type/fix

#1001 feat: BI-5355 Trino API connector base
  lib/dl_connector_trino/dl_connector_trino/api/api_schema/__init__.py
  lib/dl_connector_trino/dl_connector_trino/api/api_schema/connection.py
  lib/dl_connector_trino/dl_connector_trino/api/connection_form/__init__.py
  lib/dl_connector_trino/dl_connector_trino/api/connection_form/form_config.py
  lib/dl_connector_trino/dl_connector_trino/api/connection_info.py
  lib/dl_connector_trino/dl_connector_trino/api/connector.py
  lib/dl_connector_trino/dl_connector_trino/api/i18n/__init__.py
  lib/dl_connector_trino/dl_connector_trino/api/i18n/localizer.py
  lib/dl_connector_trino/dl_connector_trino/assets/__init__.py
  lib/dl_connector_trino/dl_connector_trino/assets/icons/__init__.py
  lib/dl_connector_trino/dl_connector_trino/assets/icons/nav/__init__.py
  lib/dl_connector_trino/dl_connector_trino/assets/icons/nav/trino.svg
  lib/dl_connector_trino/dl_connector_trino/assets/icons/standard/__init__.py
  lib/dl_connector_trino/dl_connector_trino/assets/icons/standard/trino.svg
  lib/dl_connector_trino/dl_connector_trino/core/error_transformer.py
  lib/dl_connector_trino/dl_connector_trino/locales/en/LC_MESSAGES/dl_connector_trino.mo
  lib/dl_connector_trino/dl_connector_trino/locales/en/LC_MESSAGES/dl_connector_trino.po
  lib/dl_connector_trino/dl_connector_trino/locales/ru/LC_MESSAGES/dl_connector_trino.mo
  lib/dl_connector_trino/dl_connector_trino/locales/ru/LC_MESSAGES/dl_connector_trino.po
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/test_complex_queries.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/test_connection.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/test_dashsql.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/test_data.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/test_dataset.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/pyproject.toml
Labels: type/feat

#1029 refactor: BI-0 dl_api_client/dsmaker/api typing
  lib/dl_api_client/dl_api_client/dsmaker/api/data_api.py
Labels: type/refactor

#1026 test: BI-6201 move datasource template tests to dl_api_lib_testing
  lib/dl_api_client/dl_api_client/dsmaker/api/data_api.py
  lib/dl_api_client/dl_api_client/dsmaker/api/serialization_base.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/validation/test_source_template.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_parameters.py
  lib/dl_api_lib_testing/dl_api_lib_testing/__init__.py
  lib/dl_api_lib_testing/dl_api_lib_testing/datasource_template_base.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/api/test_datasource_template.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/conftest.py
Labels: type/test

#960 feat(optimization): BI-5933 avoid double deserialization for cached datasets
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/base.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/distinct.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/pivot.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/range.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/result.py
  lib/dl_core/dl_core/us_manager/us_entry_serializer.py
  lib/dl_core/dl_core/us_manager/us_manager.py
  lib/dl_core/dl_core/us_manager/us_manager_async.py
  lib/dl_core/dl_core/us_manager/us_manager_sync.py
Labels: component/optimization, type/feat

#1035 ci: BI-0 ydb dev compose
  lib/dl_connector_ydb/docker-compose-dev.yml
  lib/dl_connector_ydb/docker-compose.yml
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#1036 fix: BI-6201 chyt tablerange source
  lib/dl_connector_chyt/dl_connector_chyt/core/data_source.py
Labels: type/fix

#1033 fix(connectors): BI-6252 mark imported file sources as failed to allow reupload
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/us_connection.py
Labels: component/connectors, type/fix

#1034 fix(connectors): BI-5975 return import notification about secrets only when it is relevant
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/connection_suite.py
  lib/dl_core/dl_core/us_connection_base.py
Labels: component/connectors, type/fix

#1038 feat(connectors): BI-6275 export fake secrets when they are set, null otherwise
  lib/dl_api_connector/dl_api_connector/api_schema/top_level.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/api/api_schema/connection.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/api/test_connection.py
Labels: component/connectors, type/feat

#1030 fix: BI-6201 add template tests to all connectors and fix issues
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_api_lib_testing/dl_api_lib_testing/__init__.py
  lib/dl_api_lib_testing/dl_api_lib_testing/datasource_template_base.py
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/db/api/base.py
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/db/api/test_datasource_template.py
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/db/conftest.py
  lib/dl_connector_mssql/dl_connector_mssql_tests/db/api/test_datasource_template.py
  lib/dl_connector_mssql/dl_connector_mssql_tests/db/conftest.py
  lib/dl_connector_mysql/dl_connector_mysql/core/error_transformer.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/db/api/test_datasource_template.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/db/api/test_datasource_template.py
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/db/api/test_datasource_template.py
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/db/conftest.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/data_source.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/api/base.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/api/test_datasource_template.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/conftest.py
  lib/dl_connector_ydb/pyproject.toml
  lib/dl_core/dl_core/data_source/base.py
  lib/dl_core/dl_core/data_source/sql.py
  lib/dl_core_testing/dl_core_testing/testcases/connection.py
Labels: type/fix

#1031 feat: BI-6218 rev_id query param for data-api
  lib/dl_api_client/dl_api_client/dsmaker/api/data_api.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/base.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_revision.py
  lib/dl_api_lib_testing/dl_api_lib_testing/data_api_base.py
Labels: type/feat

#1042 test: BI-0 drop pytest_plugins
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_csrf.py
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_request_id.py
  lib/dl_api_commons/dl_api_commons_tests/unit/conftest.py
  lib/dl_api_lib_testing/dl_api_lib_testing/base.py
  lib/dl_connector_bigquery/dl_connector_bigquery_tests/ext/conftest.py
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds_tests/conftest.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3_tests/conftest.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3_tests/db/base/core/base.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3_tests/db/gsheets_v2/api/base.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3_tests/db/yadocs/api/base.py
  lib/dl_connector_metrica/dl_connector_metrica_tests/conftest.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/db/conftest.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/db/conftest.py
  lib/dl_connector_promql/dl_connector_promql_tests/db/conftest.py
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/conftest.py
  lib/dl_core/dl_core_tests/unit/conftest.py
  lib/dl_file_secure_reader_lib/dl_file_secure_reader_lib_tests/conftest.py
  lib/dl_file_secure_reader_lib/dl_file_secure_reader_lib_tests/db/conftest.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/conftest.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/conftest.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/test_misc_api.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/ext/conftest.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/ext/test_update_data_gsheets.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/ext/test_update_data_yadocs.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib_tests/conftest.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/conftest.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/db/conftest.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/db/test_tasks.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/ext/test_gsheets.py
  lib/dl_task_processor/dl_task_processor_tests/conftest.py
  lib/dl_task_processor/dl_task_processor_tests/db/conftest.py
  lib/redis-cache-lock/tests/test_cache.py
Labels: type/test

#1043 test: BI-0 fix sync fixture using pytest_asyncio
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/db/conftest.py
Labels: type/test

#1044 feat: BI-5355 Add Trino to configs and apps deps
  app/app_configs/api.yaml
  app/dl_control_api/pyproject.toml
  app/dl_data_api/pyproject.toml
  metapkg/poetry.lock
Labels: type/feat

#1045 fix: BI-6201 add template tests to CHYT and fix issues
  lib/dl_api_lib_testing/dl_api_lib_testing/datasource_template_base.py
  lib/dl_connector_chyt/dl_connector_chyt/core/data_source.py
Labels: type/fix

#1048 fix(datasets): BI-6293 fix error on missing revision_id from US
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/dataset/base.py
Labels: component/datasets, type/fix

#1050 ci: BI-0 move the last jobs to k8s
  .github/workflows/build_debian_docker.yml
  .github/workflows/terrarium_check.yaml
Labels: type/ci

#1052 fix: BI-0 add setup-buildx action
  .github/workflows/build_debian_docker.yml
Labels: type/fix

#1049 feat: BI-6288 add table source to SQL connectors
  lib/dl_connector_chyt/dl_connector_chyt/core/us_connection.py
  lib/dl_connector_chyt/dl_connector_chyt/locales/en/LC_MESSAGES/dl_connector_chyt.mo
  lib/dl_connector_chyt/dl_connector_chyt/locales/en/LC_MESSAGES/dl_connector_chyt.po
  lib/dl_connector_chyt/dl_connector_chyt/locales/ru/LC_MESSAGES/dl_connector_chyt.mo
  lib/dl_connector_chyt/dl_connector_chyt/locales/ru/LC_MESSAGES/dl_connector_chyt.po
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/api/test_datasource_template.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/us_connection.py
  lib/dl_connector_greenplum/dl_connector_greenplum_tests/db/api/test_datasource_template.py
  lib/dl_connector_mssql/dl_connector_mssql/core/us_connection.py
  lib/dl_connector_mssql/dl_connector_mssql_tests/db/api/test_datasource_template.py
  lib/dl_connector_mysql/dl_connector_mysql/core/us_connection.py
  lib/dl_connector_mysql/dl_connector_mysql_tests/db/api/test_datasource_template.py
  lib/dl_connector_oracle/dl_connector_oracle/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/db/api/test_datasource_template.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql_tests/db/api/test_datasource_template.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/us_connection.py
  lib/dl_connector_ydb/dl_connector_ydb/locales/en/LC_MESSAGES/dl_connector_ydb.mo
  lib/dl_connector_ydb/dl_connector_ydb/locales/en/LC_MESSAGES/dl_connector_ydb.po
  lib/dl_connector_ydb/dl_connector_ydb/locales/en/LC_MESSAGES/dl_formula_ref_dl_connector_ydb.po
  lib/dl_connector_ydb/dl_connector_ydb/locales/ru/LC_MESSAGES/dl_connector_ydb.mo
  lib/dl_connector_ydb/dl_connector_ydb/locales/ru/LC_MESSAGES/dl_connector_ydb.po
  lib/dl_connector_ydb/dl_connector_ydb/locales/ru/LC_MESSAGES/dl_formula_ref_dl_connector_ydb.po
  lib/dl_core/dl_core/locales/en/LC_MESSAGES/dl_core.mo
  lib/dl_core/dl_core/locales/en/LC_MESSAGES/dl_core.po
  lib/dl_core/dl_core/locales/ru/LC_MESSAGES/dl_core.mo
  lib/dl_core/dl_core/locales/ru/LC_MESSAGES/dl_core.po
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/feat

#1054 feat: BI-6254 export-import feats and fixes
  lib/dl_api_client/dl_api_client/dsmaker/api/dataset_api.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/base.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
  lib/dl_api_lib/dl_api_lib/error_handling.py
  lib/dl_api_lib/dl_api_lib/exc.py
  lib/dl_api_lib/dl_api_lib/schemas/main.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/connection_suite.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/dataset_suite.py
  lib/dl_connector_bigquery/dl_connector_bigquery/core/connector.py
  lib/dl_connector_bigquery/dl_connector_bigquery/core/us_connection.py
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds/core/connector.py
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds/core/us_connection.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/us_connection.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_gsheets/core/connector.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_yadocs/core/connector.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/file/core/connector.py
  lib/dl_connector_chyt/dl_connector_chyt/core/connector.py
  lib/dl_connector_chyt/dl_connector_chyt/core/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/connector.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/connector.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/us_connection.py
  lib/dl_connector_metrica/dl_connector_metrica/core/connector.py
  lib/dl_connector_mssql/dl_connector_mssql/core/connector.py
  lib/dl_connector_mssql/dl_connector_mssql/core/us_connection.py
  lib/dl_connector_mysql/dl_connector_mysql/core/connector.py
  lib/dl_connector_mysql/dl_connector_mysql/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle/core/connector.py
  lib/dl_connector_oracle/dl_connector_oracle/core/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/connector.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/us_connection.py
  lib/dl_connector_promql/dl_connector_promql/core/connector.py
  lib/dl_connector_promql/dl_connector_promql/core/us_connection.py
  lib/dl_connector_snowflake/dl_connector_snowflake/core/connector.py
  lib/dl_connector_trino/dl_connector_trino/core/connector.py
  lib/dl_connector_trino/dl_connector_trino/core/us_connection.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/connector.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/us_connection.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/api/test_connection.py
  lib/dl_core/dl_core/connectors/base/connector.py
  lib/dl_core/dl_core/connectors/base/export_import.py
  lib/dl_core/dl_core/connectors/base/registrator.py
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/feat

#1056 fix: BI-6288 add schema_name and db_name to form
  lib/dl_api_lib_testing/dl_api_lib_testing/datasource_template_base.py
  lib/dl_connector_chyt/dl_connector_chyt/core/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/api/base.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse_tests/db/api/test_datasource_template.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/us_connection.py
  lib/dl_connector_mssql/dl_connector_mssql/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle/core/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/us_connection.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/us_connection.py
  lib/dl_core/dl_core/locales/en/LC_MESSAGES/dl_core.mo
  lib/dl_core/dl_core/locales/en/LC_MESSAGES/dl_core.po
  lib/dl_core/dl_core/locales/ru/LC_MESSAGES/dl_core.mo
  lib/dl_core/dl_core/locales/ru/LC_MESSAGES/dl_core.po
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/fix

#1058 feat: BI-6288 add connector table source form flag
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/settings.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/core/clickhouse/us_connection.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/settings.py
  lib/dl_connector_greenplum/dl_connector_greenplum/core/us_connection.py
  lib/dl_connector_mssql/dl_connector_mssql/core/settings.py
  lib/dl_connector_mssql/dl_connector_mssql/core/us_connection.py
  lib/dl_connector_mysql/dl_connector_mysql/core/settings.py
  lib/dl_connector_mysql/dl_connector_mysql/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle/core/settings.py
  lib/dl_connector_oracle/dl_connector_oracle/core/us_connection.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/settings.py
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql/us_connection.py
  lib/dl_core/dl_core/connectors/settings/mixins.py
Labels: type/feat

#1059 fix: BI-6288 disable templating for db_name, schema_name
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/fix

#1051 feat: BI-5355 Trino connection form
  lib/dl_connector_trino/dl_connector_trino/api/api_schema/connection.py
  lib/dl_connector_trino/dl_connector_trino/api/connection_form/form_config.py
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino/core/connection_executors.py
  lib/dl_connector_trino/dl_connector_trino/core/constants.py
  lib/dl_connector_trino/dl_connector_trino/core/dto.py
  lib/dl_connector_trino/dl_connector_trino/core/storage_schemas/connection.py
  lib/dl_connector_trino/dl_connector_trino/core/target_dto.py
  lib/dl_connector_trino/dl_connector_trino/core/us_connection.py
  lib/dl_connector_trino/dl_connector_trino/locales/en/LC_MESSAGES/dl_connector_trino.mo
  lib/dl_connector_trino/dl_connector_trino/locales/en/LC_MESSAGES/dl_connector_trino.po
  lib/dl_connector_trino/dl_connector_trino/locales/ru/LC_MESSAGES/dl_connector_trino.mo
  lib/dl_connector_trino/dl_connector_trino/locales/ru/LC_MESSAGES/dl_connector_trino.po
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection.py
  lib/dl_connector_trino/dl_connector_trino_tests/unit/conftest.py
  lib/dl_connector_trino/dl_connector_trino_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_trino/dl_connector_trino_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_trino/dl_connector_trino_tests/unit/test_connection_form.py
  lib/dl_connector_trino/pyproject.toml
Labels: type/feat

#1061 fix: BI-0 Update US port
  lib/dl_api_lib/dl_api_lib_tests/unit/config/test_config_loading.py
  lib/dl_api_lib/docker-compose.yml
  lib/dl_connector_bigquery/docker-compose.yml
  lib/dl_connector_bitrix_gds/docker-compose.yml
  lib/dl_connector_bundle_chs3/docker-compose.yml
  lib/dl_connector_clickhouse/docker-compose.yml
  lib/dl_connector_greenplum/docker-compose.yml
  lib/dl_connector_metrica/docker-compose.yml
  lib/dl_connector_mssql/docker-compose.yml
  lib/dl_connector_mysql/docker-compose.yml
  lib/dl_connector_oracle/docker-compose.yml
  lib/dl_connector_postgresql/docker-compose.yml
  lib/dl_connector_promql/docker-compose.yml
  lib/dl_connector_snowflake/docker-compose.yml
  lib/dl_connector_trino/docker-compose.yml
  lib/dl_connector_ydb/docker-compose.yml
  lib/dl_core/docker-compose.yml
  lib/dl_file_uploader_api_lib/docker-compose.yml
  lib/dl_file_uploader_worker_lib/docker-compose.yml
  terrarium/bi_ci/bi_ci_tests/unit/resources/docker-compose.src.yml
Labels: type/fix

#1062 test: BI-0 override US port once and for all
  lib/testenv-common/images/Dockerfile.us
Labels: type/test

#1066 feat: BI-6316 Improve Trino error transformer
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino/core/error_transformer.py
  lib/dl_connector_trino/dl_connector_trino/core/exc.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection_executor.py
Labels: type/feat
