Repository datalens-tech/datalens-backend, pull requests merged in 2025-09, with the labels that each got.

#1207 ci: BI-0 compose-logs add compose variable
  tools/taskfiles/taskfile_dev.yml
Labels: type/ci

#1206 feat: BI-6487 enable templating connector settings defaults
  lib/dl_core/dl_core/connectors/settings/mixins.py
Labels: type/feat

#1209 feat: BI-6542 add includeFavorite param to US get-entry requests
  lib/dl_core/dl_core/united_storage_client.py
  lib/dl_core/dl_core/united_storage_client_aio.py
  lib/dl_core/dl_core/us_manager/us_manager_sync_mock.py
Labels: type/feat

#1212 test: BI-6496 Add API test for edit connection
  lib/dl_api_lib_testing/dl_api_lib_testing/connection_base.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/connection_suite.py
Labels: type/test

#1213 test: BI-6496 Add test for testing connection while editing
  lib/dl_api_lib_testing/dl_api_lib_testing/connection_base.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/connection_suite.py
Labels: type/test

#1215 test: BI-6496 Fix bi_headers defaults in api tests
  lib/dl_api_lib_testing/dl_api_lib_testing/connection_base.py
Labels: type/test

#1217 fix: BI-6552 dateadd(today(), ...) for PG
  lib/dl_connector_postgresql/dl_connector_postgresql/formula/definitions/functions_datetime.py
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_datetime.py
Labels: type/fix

#1223 fix: BI-5684 wrap DataSourceNotFound error
  lib/dl_api_lib/dl_api_lib/error_handling.py
Labels: type/fix

#1211 feat(connectors): BI-5905 Remove fallback to redis
  lib/dl_core/dl_core/services_registry/file_uploader_client_factory.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/sources.py
  lib/dl_file_uploader_task_interface/dl_file_uploader_task_interface/tasks.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/cleanup.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/delete.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/parse.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/save.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/utils/connection_error_tracker.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/utils/file_parser.py
Labels: component/connectors, type/feat

#1228 fix: BI-6539 Fixes for new data export schema
  lib/dl_api_lib/dl_api_lib/api_common/data_serialization.py
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/fix

#1234 feat: BI-6557 add ca_data to HttpxBaseClient
  lib/dl_configs/dl_configs/__init__.py
  lib/dl_configs/dl_configs/utils.py
  lib/dl_connector_mysql/dl_connector_mysql/core/adapters_base_mysql.py
  lib/dl_connector_oracle/dl_connector_oracle/core/adapters_oracle.py
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_httpx/dl_httpx/client.py
  lib/dl_httpx/pyproject.toml
  lib/dl_testing/dl_testing/__init__.py
  lib/dl_testing/dl_testing/utils.py
Labels: type/feat

#1240 feat: BI-6457 Add `description` field to connections
  lib/dl_api_connector/dl_api_connector/api_schema/top_level.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connection_base.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/connection_suite.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/dataset_suite.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3_tests/db/base/api/base.py
  lib/dl_core/dl_core/united_storage_client.py
  lib/dl_core/dl_core/united_storage_client_aio.py
  lib/dl_core/dl_core/us_connection_base.py
  lib/dl_core/dl_core/us_entry.py
  lib/dl_core/dl_core/us_manager/us_manager.py
  lib/dl_core/dl_core/us_manager/us_manager_sync_mock.py
  lib/dl_core_testing/dl_core_testing/connection.py
  lib/testenv-common/images/Dockerfile.us
Labels: type/feat

#1242 fix: BI-6457 Fix description update in connections
  lib/dl_api_connector/dl_api_connector/api_schema/top_level.py
  lib/dl_core/dl_core/us_manager/us_manager.py
Labels: type/fix

#1235 feat: BI-6457 Add `description` field to datasets
  lib/dl_api_client/dl_api_client/dsmaker/api/dataset_api.py
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_client/dl_api_client/dsmaker/primitives.py
  lib/dl_api_client/pyproject.toml
  lib/dl_api_lib/dl_api_lib/api_common/dataset_loader.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
  lib/dl_api_lib/dl_api_lib/schemas/dataset_base.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/dataset_suite.py
  lib/dl_api_lib_testing/dl_api_lib_testing/dataset_base.py
  lib/dl_connector_bitrix_gds/dl_connector_bitrix_gds_tests/ext/api/test_dataset.py
  lib/dl_connector_metrica/dl_connector_metrica_tests/ext/api/test_dataset.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/api/test_dataset.py
  lib/dl_core/dl_core/components/editor.py
  metapkg/poetry.lock
Labels: type/feat

#1256 ci: BI-0 mark mypy as fat
  .github/workflows/main.yml
Labels: type/ci

#1246 feat: BI-6457 Add update action for annotation
  lib/dl_api_client/dl_api_client/dsmaker/api/dataset_api.py
  lib/dl_api_lib/dl_api_lib/api_common/dataset_loader.py
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_api_lib/dl_api_lib/enums.py
  lib/dl_api_lib/dl_api_lib/request_model/data.py
  lib/dl_api_lib/dl_api_lib/schemas/action.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/validation/test_description.py
  lib/dl_core/dl_core/components/editor.py
  lib/dl_core/dl_core/us_connection_base.py
  lib/dl_core/dl_core/us_entry.py
Labels: type/feat

#1257 feat: BI-6610 dl_pydantic populate_by_name=True
  lib/dl_pydantic/dl_pydantic/base.py
  lib/dl_settings/dl_settings/base/fallback.py
Labels: type/feat
