Repository datalens-tech/datalens-backend, pull requests merged in 2025-01, with the labels that each got.

#775 chore: BI-0 use docker compose v2 in dev tasks
  tools/taskfiles/taskfile_dev.yml
Labels: type/chore

#777 ci: BI-0 fix high zizmor issues
  .github/workflows/main.yml
  .github/workflows/release.yaml
  .github/workflows/release_create_hotfix_branch.yaml
  .github/workflows/release_prerelease.yaml
  .github/workflows/release_protect_branches.yaml
  .github/workflows/run_e2e_on_ref_local.yml
Labels: type/ci

#774 fix: BI-5901 dict secrets deserializer fix
  lib/dl_core/dl_core/us_manager/us_entry_serializer.py
  lib/dl_core/dl_core/us_manager/us_manager.py
Labels: type/fix

#778 revert: BI-0 https://github.com/datalens-tech/datalens-backend/pull/774
  lib/dl_core/dl_core/us_manager/us_entry_serializer.py
  lib/dl_core/dl_core/us_manager/us_manager.py
Labels: type/revert

#780 fix: BI-5901 us deserializer fix
  lib/dl_core/dl_core/us_manager/us_entry_serializer.py
  lib/dl_core/dl_core/us_manager/us_manager.py
Labels: type/fix

#781 ci: BI-0 fix type in test router flow
  .github/workflows/main.yml
Labels: type/ci

#782 chore: BI-0 remove legacy s3 common Dockerfile
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/conftest.py
  lib/testenv-common/images/Dockerfile.s3-storage
  lib/testenv-common/images/s3-storage/entrypoint.sh
Labels: type/chore

#743 feat: BI-5955 schema migration factory
  lib/dl_core/dl_core/connectors/base/connector.py
  lib/dl_core/dl_core/connectors/base/registrator.py
  lib/dl_core/dl_core/connectors/base/schema_migration.py
  lib/dl_core/dl_core/us_connection.py
  lib/dl_core/dl_core/us_manager/schema_migration/base.py
  lib/dl_core/dl_core/us_manager/schema_migration/dataset.py
  lib/dl_core/dl_core/us_manager/schema_migration/factory.py
  lib/dl_core/dl_core/us_manager/schema_migration/factory_base.py
  lib/dl_core/dl_core/us_manager/us_manager.py
  lib/dl_core/dl_core/us_manager/us_manager_async.py
  lib/dl_core/dl_core/us_manager/us_manager_sync.py
Labels: type/feat

#779 perf(datasets): DLHELP-12032 optimize avatar deletion action
  lib/dl_api_lib/dl_api_lib/query/registry.py
  lib/dl_api_lib/dl_api_lib/service_registry/multi_query_mutator_factory.py
  lib/dl_api_lib/dl_api_lib/service_registry/service_registry.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_avatars.py
  lib/dl_core/dl_core/fields.py
  lib/dl_query_processing/dl_query_processing/compilation/formula_compiler.py
Labels: component/datasets, type/perf

#784 feat: BI-5954 migration async function
  lib/dl_core/dl_core/us_manager/schema_migration/base.py
  lib/dl_core/dl_core_tests/unit/us_manager/test_migration.py
Labels: type/feat

#772 sec: BI-5958 bump snowflake-connector-python, fix MEDIAN in snowflake
  lib/dl_connector_snowflake/dl_connector_snowflake/api/api_schema/connection.py
  lib/dl_connector_snowflake/dl_connector_snowflake/formula/definitions/functions_aggregation.py
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/ext/api/test_data.py
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/ext/core/test_connection.py
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/ext/core/test_token_expire_notification.py
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_snowflake/dl_connector_snowflake_tests/unit/test_connection_form.py
  metapkg/poetry.lock
  metapkg/pyproject.toml
Labels: type/sec

#786 fix: BI-0 fix callback for replacements in formula
  lib/dl_core/dl_core/fields.py
  lib/dl_core/dl_core_tests/unit/test_fields.py
Labels: type/fix

#787 fix: BI-0 typing fix
  lib/dl_core/dl_core/united_storage_client.py
  lib/dl_core/dl_core/united_storage_client_aio.py
  lib/dl_core/dl_core/us_entry.py
  lib/dl_core/dl_core/us_manager/mutation_cache/usentry_mutation_cache.py
  lib/dl_core/dl_core/us_manager/us_manager_sync.py
Labels: type/fix

#790 feat: BI-6024 add retries to HEAD object in /download_presigned_url
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/files.py
Labels: type/feat

#791 fix: BI-5951 remove md5 from presigned url for upload
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/app.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/files.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/conftest.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/test_files_api.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/req_builder.py
  lib/dl_s3/dl_s3/utils.py
Labels: type/fix

#793 test: BI-0 move common test creds to constants
  lib/dl_api_lib_testing/dl_api_lib_testing/app.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/conftest.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib_tests/conftest.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/conftest.py
  lib/dl_rls/dl_rls/testing/rls_configs/dl_api_lib_test_config
  lib/dl_testing/dl_testing/constants.py
Labels: type/test

#792 feat: BI-6012 allow passing instance_id on task schedule
  lib/dl_task_processor/dl_task_processor/processor.py
Labels: type/feat

#795 ci: BI-0 add blame ignore for #794
  .git-blame-ignore-revs
Labels: type/ci

#796 ci: BI-0 add mypy ignore dl_task_processor/upstream_worker.py
  lib/dl_task_processor/pyproject.toml
Labels: type/ci

#797 fix(datasets): BI-6030 do not check view permission on the connection on refresh fields
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
Labels: component/datasets, type/fix

#798 fix: BI-0 remove pycharm noinspection
  lib/dl_api_commons/dl_api_commons/aio/middlewares/error_handling_outer.py
  lib/dl_api_commons/dl_api_commons/utils.py
  lib/dl_cache_engine/dl_cache_engine/engine.py
  lib/dl_connector_chyt/dl_connector_chyt/core/adapters.py
  lib/dl_connector_oracle/dl_connector_oracle/db_testing/engine_wrapper.py
  lib/dl_connector_postgresql/dl_connector_postgresql/db_testing/engine_wrapper.py
  lib/dl_constants/dl_constants/exc.py
  lib/dl_core/dl_core/connection_executors/adapters/sa_utils.py
  lib/dl_core/dl_core/connection_executors/async_sa_executors.py
  lib/dl_core/dl_core/connection_executors/qe_serializer/schemas_common.py
  lib/dl_core/dl_core/connection_executors/remote_query_executor/app_sync.py
  lib/dl_core/dl_core/connection_executors/sync_executor_wrapper.py
  lib/dl_core/dl_core/services_registry/conn_executor_factory.py
  lib/dl_core/dl_core/services_registry/conn_executor_factory_base.py
  lib/dl_core/dl_core/services_registry/data_processor_factory_base.py
  lib/dl_core/dl_core/united_storage_client.py
  lib/dl_core/dl_core/us_manager/us_manager.py
  lib/dl_core/dl_core/us_manager/us_manager_async.py
  lib/dl_core/dl_core/us_manager/us_manager_sync.py
  lib/dl_sqlalchemy_metrica_api/dl_sqlalchemy_metrica_api/api_client.py
Labels: type/fix

#799 refactor: BI-6017 add BaseParameterValueConstraint
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_client/dl_api_client/dsmaker/primitives.py
  lib/dl_api_client/dl_api_client/dsmaker/shortcuts/dataset.py
  lib/dl_api_lib/dl_api_lib/schemas/parameters.py
  lib/dl_core/dl_core/fields.py
  lib/dl_core/dl_core/us_manager/storage_schemas/dataset.py
  lib/dl_maintenance/dl_maintenance/api/updates.py
Labels: type/refactor

#804 ci: BI-0 fix affected packages detection
  terrarium/bi_ci/bi_ci/detect_affected_packages.py
Labels: type/ci

#800 feat: BI-5902 typed query raw + keyvalue form config component
  lib/dl_api_connector/dl_api_connector/form_config/models/rows/customizable/__init__.py
  lib/dl_api_connector/dl_api_connector/form_config/models/rows/customizable/components.py
  lib/dl_api_lib/dl_api_lib/app/data_api/app.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/typed_query_raw.py
  lib/dl_api_lib/dl_api_lib/schemas/typed_query_raw.py
  lib/dl_api_lib/dl_api_lib/service_registry/service_registry.py
  lib/dl_api_lib/dl_api_lib/service_registry/typed_query_raw_processor_factory.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_core/dl_core/connection_executors/adapters/adapter_actions/async_base.py
  lib/dl_core/dl_core/connection_executors/adapters/adapter_actions/typed_query_raw.py
  lib/dl_core/dl_core/connection_executors/adapters/async_adapters_base.py
  lib/dl_core/dl_core/connection_executors/adapters/async_adapters_remote.py
  lib/dl_core/dl_core/connection_executors/async_base.py
  lib/dl_core/dl_core/connection_executors/async_sa_executors.py
  lib/dl_core/dl_core/connection_executors/qe_serializer/dba_actions.py
  lib/dl_core/dl_core/connection_executors/qe_serializer/schema_actions.py
  lib/dl_core/dl_core/connection_executors/qe_serializer/serializer.py
  lib/dl_core/dl_core/connection_executors/remote_query_executor/app_async.py
  lib/dl_core/dl_core/data_processing/typed_query_raw.py
  lib/dl_core/dl_core/utils.py
  lib/dl_core_testing/dl_core_testing/testcases/remote_query_executor.py
  lib/dl_core_testing/dl_core_testing/testcases/typed_query_raw.py
  lib/dl_dashsql/dl_dashsql/typed_query/primitives.py
  lib/dl_dashsql/dl_dashsql/typed_query/processor/base.py
  lib/dl_dashsql/dl_dashsql/typed_query/query_serialization.py
  lib/dl_dashsql/dl_dashsql/typed_query/result_serialization.py
Labels: type/feat

#803 chore: BI-0 drop docker-compose versions
  lib/clickhouse-sqlalchemy/docker-compose.yml
  lib/dl_api_lib/docker-compose.yml
  lib/dl_connector_bigquery/docker-compose.yml
  lib/dl_connector_bitrix_gds/docker-compose.yml
  lib/dl_connector_bundle_chs3/docker-compose.yml
  lib/dl_connector_clickhouse/docker-compose.yml
  lib/dl_connector_greenplum/docker-compose.yml
  lib/dl_connector_metrica/docker-compose.yml
  lib/dl_connector_mssql/docker-compose.yml
  lib/dl_connector_mysql/docker-compose.yml
  lib/dl_connector_oracle/docker-compose.yml
  lib/dl_connector_postgresql/docker-compose.yml
  lib/dl_connector_promql/docker-compose.yml
  lib/dl_connector_snowflake/docker-compose.yml
  lib/dl_connector_ydb/docker-compose.yml
  lib/dl_core/docker-compose.yml
  lib/dl_file_uploader_api_lib/docker-compose.yml
  lib/dl_file_uploader_lib/docker-compose.yml
  lib/dl_file_uploader_worker_lib/docker-compose.yml
  lib/dl_formula_ref/docker-compose.yml
  lib/dl_rate_limiter/docker-compose.yml
  lib/dl_sqlalchemy_postgres/docker-compose.yml
  lib/dl_task_processor/docker-compose.yml
  lib/dl_zitadel/docker-compose.yml
  lib/redis-cache-lock/docker-compose.yml
  lib/testenv-common/docker-compose.common.yml
  terrarium/bi_ci/bi_ci_tests/unit/resources/docker-compose.expected.yml
  terrarium/bi_ci/bi_ci_tests/unit/resources/docker-compose.src.yml
Labels: type/chore

#802 feat: BI-6017 add parameter constraint tests
  lib/dl_api_lib/dl_api_lib_tests/unit/schemas/test_parameters.py
  lib/dl_core/dl_core_tests/conftest.py
  lib/dl_core/dl_core_tests/unit/test_fields.py
  lib/dl_core/pyproject.toml
Labels: type/feat

#807 ci: BI-0 fix affected paths parsing
  terrarium/bi_ci/bi_ci/detect_affected_packages.py
Labels: type/ci

#808 test: BI-0 fix failing dl_core tests
  lib/dl_api_lib/pyproject.toml
  lib/dl_core/dl_core_tests/conftest.py
Labels: type/test

#806 fix: DLHELP-12178 don't check access to ignored sources
  lib/dl_api_lib/dl_api_lib/dataset/utils.py
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
Labels: type/fix

#809 fix: BI-5902 typed query raw fixes
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/typed_query_raw.py
  lib/dl_api_lib/dl_api_lib/schemas/typed_query_raw.py
  lib/dl_core/dl_core/data_processing/typed_query_raw.py
Labels: type/fix

#811 fix: BI-5902 add allow typed query raw flag
  lib/dl_api_connector/dl_api_connector/form_config/models/rows/customizable/components.py
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/typed_query_raw.py
  lib/dl_core/dl_core/us_connection_base.py
  lib/dl_dashsql/dl_dashsql/typed_query/result_serialization.py
Labels: type/fix

#812 fix: BI-5902 typed query raw body schema fix
  lib/dl_api_connector/dl_api_connector/form_config/models/api_schema.py
  lib/dl_api_connector/dl_api_connector/form_config/models/rows/customizable/components.py
  lib/dl_api_lib/dl_api_lib/schemas/typed_query_raw.py
  lib/dl_dashsql/dl_dashsql/typed_query/query_serialization.py
Labels: type/fix

#805 feat: BI-6031 downgrade migration
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_api_lib/dl_api_lib/error_handling.py
  lib/dl_core/dl_core/exc.py
  lib/dl_core/dl_core/us_manager/schema_migration/base.py
  lib/dl_core/dl_core/us_manager/us_manager_sync.py
  lib/dl_core/dl_core_tests/unit/us_manager/test_migration.py
Labels: type/feat

#815 feat: BI-6031 migration version as datetime
  lib/dl_core/dl_core/us_manager/schema_migration/base.py
  lib/dl_core/dl_core_tests/unit/us_manager/test_migration.py
Labels: type/feat

#816 ci: BI-0 lint-fix dl_task_processor/upstream_worker.py
  lib/dl_task_processor/dl_task_processor/upstream_worker.py
  lib/dl_task_processor/pyproject.toml
Labels: type/ci

#821 test: BI-0 drop aiohttp_plugin from dl_core
  lib/dl_core/dl_core_tests/conftest.py
  lib/dl_core/dl_core_tests/db/compeng/test_pg_op_exec_adapter.py
  lib/dl_core/dl_core_tests/db/compeng/test_pg_op_processor.py
  lib/dl_core_testing/dl_core_testing/testcases/adapter.py
  lib/dl_core_testing/dl_core_testing/testcases/connection_executor.py
  lib/dl_core_testing/dl_core_testing/testcases/remote_query_executor.py
  lib/dl_core_testing/dl_core_testing/testcases/service_base.py
Labels: type/test

#819 feat: BI-5942 apply US response migration
  lib/dl_core/dl_core/us_manager/us_manager_async.py
  lib/dl_core/dl_core/us_manager/us_manager_sync.py
  lib/dl_core/dl_core_tests/db/components/test_apply_migration.py
Labels: type/feat

#820 feat: BI-6019 add new parameter constraints
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_client/dl_api_client/dsmaker/primitives.py
  lib/dl_api_lib/dl_api_lib/schemas/parameters.py
  lib/dl_api_lib/dl_api_lib_tests/unit/schemas/test_parameters.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_core/dl_core/fields.py
  lib/dl_core/dl_core/us_manager/storage_schemas/dataset.py
  lib/dl_core/dl_core_tests/unit/test_fields.py
Labels: type/feat

#823 fix: BI-5942 resolve empty migrations
  lib/dl_core/dl_core/us_manager/schema_migration/base.py
Labels: type/fix

#825 feat: BI-6041 add content-type to typed query raw schema
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/typed_query_raw.py
  lib/dl_api_lib/dl_api_lib/schemas/typed_query_raw.py
  lib/dl_core/dl_core/connection_executors/adapters/adapter_actions/typed_query_raw.py
  lib/dl_core_testing/dl_core_testing/testcases/typed_query_raw.py
  lib/dl_dashsql/dl_dashsql/typed_query/primitives.py
  lib/dl_dashsql/dl_dashsql/typed_query/query_serialization.py
Labels: type/feat

#826 fix: BI-5904 add debug compiled query
  lib/dl_core/dl_core/connection_executors/adapters/adapter_actions/typed_query_raw.py
Labels: type/fix
