Repository datalens-tech/datalens-backend, pull requests merged in 2025-07, with the labels that each got.

#1117 feat: BI-5419 move to general split_validator instead of dedicated
  lib/dl_settings/dl_settings/__init__.py
  lib/dl_settings/dl_settings/validators/__init__.py
  lib/dl_settings/dl_settings/validators/split.py
  lib/dl_settings/dl_settings_tests/unit/validators/split/test_split.py
  lib/dl_settings/dl_settings_tests/unit/validators/split/test_split_list.py
  lib/dl_settings/dl_settings_tests/unit/validators/split/test_split_tuple.py
Labels: type/feat

#1118 fix(connectors): BI-5905 pass tenant_id header
  lib/dl_core/dl_core/services_registry/file_uploader_client_factory.py
  lib/dl_core/dl_core/services_registry/sr_factories.py
Labels: component/connectors, type/fix

#1126 build: BI-6398 ubunru ARM worker
  .github/workflows/build_debian_docker_arm.yml
  .github/workflows/release_prerelease_arm.yaml
Labels: type/build

#1127 fix: BI-6398 get appropriate architecture for docker deps
  docker_build/debian_docker/scripts/100-docker.sh
Labels: type/fix

#1128 build: BI-6398 multiarch build for debian image
  .github/workflows/build_debian_docker.yml
  .github/workflows/build_debian_docker_arm.yml
Labels: type/build

#1124 refactor: BI-6153 Base classes for reuse in YC
  lib/dl_connector_trino/dl_connector_trino/api/api_schema/connection.py
  lib/dl_connector_trino/dl_connector_trino/api/connector.py
  lib/dl_connector_trino/dl_connector_trino/core/connection_executors.py
  lib/dl_connector_trino/dl_connector_trino/core/connector.py
  lib/dl_connector_trino/dl_connector_trino/core/dto.py
  lib/dl_connector_trino/dl_connector_trino/core/us_connection.py
Labels: type/refactor

#1129 build: BI-6398 multiarch build for prerelease job
  .github/workflows/build_debian_docker.yml
  .github/workflows/release_prerelease.yaml
  .github/workflows/release_prerelease_arm.yaml
Labels: type/build

#1131 ci: BI-0 clean up pytest logs settings from pyproject files
  lib/dl_api_lib/pyproject.toml
  lib/dl_connector_clickhouse/pyproject.toml
  lib/dl_connector_ydb/pyproject.toml
  lib/dl_core/pyproject.toml
  lib/dl_settings/pyproject.toml
  lib/dl_zitadel/pyproject.toml
Labels: type/ci

#1120 test(connectors): BI-5210 YDB db core tests
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/api/base.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/config.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/core/base.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/core/test_adapter.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/core/test_connection_executor.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/core/test_data_source.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/core/test_dataset.py
  lib/dl_core_testing/dl_core_testing/testcases/data_source.py
Labels: component/connectors, type/test

#1135 refactor: BI-6153 Refactor bases for MDB Trino connector
  lib/dl_connector_trino/dl_connector_trino/core/dto.py
Labels: type/refactor

#1140 build: BI-6398 few docker optimizations
  app/dl_control_api/Dockerfile.slim
  app/dl_data_api/Dockerfile.slim
  docker_build/target_base_run/Dockerfile
Labels: type/build

#1144 feat: BI-6402 Adding setting to prohibit listing of sources for Trino connection
  lib/dl_connector_trino/dl_connector_trino/api/api_schema/connection.py
  lib/dl_connector_trino/dl_connector_trino/api/connection_form/form_config.py
  lib/dl_connector_trino/dl_connector_trino/core/constants.py
  lib/dl_connector_trino/dl_connector_trino/core/data_source.py
  lib/dl_connector_trino/dl_connector_trino/core/storage_schemas/connection.py
  lib/dl_connector_trino/dl_connector_trino/core/us_connection.py
  lib/dl_connector_trino/dl_connector_trino/locales/en/LC_MESSAGES/dl_connector_trino.mo
  lib/dl_connector_trino/dl_connector_trino/locales/en/LC_MESSAGES/dl_connector_trino.po
  lib/dl_connector_trino/dl_connector_trino/locales/ru/LC_MESSAGES/dl_connector_trino.mo
  lib/dl_connector_trino/dl_connector_trino/locales/ru/LC_MESSAGES/dl_connector_trino.po
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection.py
  lib/dl_connector_trino/dl_connector_trino_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_trino/dl_connector_trino_tests/unit/expected_forms/TenantCommon()_edit.json
Labels: type/feat

#1143 test(connectors): BI-5210 YDB db/api/data tests
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/api/base.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/api/test_data.py
  lib/dl_connector_ydb/dl_connector_ydb_tests/db/config.py
  lib/dl_connector_ydb/docker-compose.yml
Labels: component/connectors, type/test

#1148 feat: BI-6092 user_info markup function
  lib/dl_connector_bigquery/dl_connector_bigquery/formula/definitions/functions_markup.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/formula/definitions/functions_markup.py
  lib/dl_connector_mssql/dl_connector_mssql/formula/definitions/functions_markup.py
  lib/dl_connector_mysql/dl_connector_mysql/formula/definitions/functions_markup.py
  lib/dl_connector_oracle/dl_connector_oracle/formula/definitions/functions_markup.py
  lib/dl_connector_postgresql/dl_connector_postgresql/formula/definitions/functions_markup.py
  lib/dl_connector_snowflake/dl_connector_snowflake/formula/definitions/functions_markup.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_markup.py
  lib/dl_connector_ydb/dl_connector_ydb/formula/definitions/functions_markup.py
  lib/dl_formula/dl_formula/definitions/functions_markup.py
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_markup.py
Labels: type/feat

#1154 fix: BI-6315 DataSource cache_key_part
  lib/dl_connector_bigquery/dl_connector_bigquery/core/data_source.py
  lib/dl_connector_chyt/dl_connector_chyt/core/data_source.py
  lib/dl_connector_oracle/dl_connector_oracle/core/data_source.py
  lib/dl_connector_snowflake/dl_connector_snowflake/core/data_source.py
  lib/dl_connector_ydb/dl_connector_ydb/core/ydb/data_source.py
  lib/dl_core/dl_core/data_source/base.py
  lib/dl_core_testing/dl_core_testing/testcases/data_source.py
Labels: type/fix

#1157 feat: BI-6075 refresh sources if template parameter updated
  lib/dl_api_client/dl_api_client/dsmaker/api/dataset_api.py
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_api_lib_testing/dl_api_lib_testing/datasource_template_base.py
  lib/dl_connector_chyt/dl_connector_chyt/core/data_source.py
  lib/dl_core/dl_core/data_source/base.py
  lib/dl_core/dl_core/data_source/sql.py
Labels: type/feat

#1159 feat: BI-6307 refresh templated sources if dataset.template_enabled switched
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_api_lib_testing/dl_api_lib_testing/datasource_template_base.py
Labels: type/feat

#1155 feat: BI-5345 Centralize monitoring endpoints with auth skipping
  lib/dl_api_commons/dl_api_commons/access_control_common.py
  lib/dl_api_commons/dl_api_commons/aiohttp/required_resources.py
  lib/dl_api_commons/dl_api_commons/flask/ping.py
  lib/dl_api_lib/dl_api_lib/app/control_api/app.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/__init__.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/monitoring.py
  lib/dl_auth_native/dl_auth_native/middlewares/aiohttp.py
  lib/dl_file_uploader_worker_lib/pyproject.toml
  lib/statcommons/statcommons/unistat/flask.py
Labels: type/feat

#1163 refactor: BI-6153 Refactor Trino connection form to uncouple translators
  lib/dl_connector_trino/dl_connector_trino/api/connection_form/form_config.py
Labels: type/refactor

#1162 feat: BI-6248 add custom remote adapter class to CE
  lib/dl_core/dl_core/connection_executors/async_sa_executors.py
Labels: type/feat

#1160 fix: BI-6216 parameter validation
  lib/dl_api_lib/dl_api_lib/error_handling.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/validation/test_parameters.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_parameters.py
  lib/dl_api_lib_testing/dl_api_lib_testing/datasource_template_base.py
  lib/dl_formula/dl_formula/core/exc.py
  lib/dl_query_processing/dl_query_processing/compilation/formula_compiler.py
  lib/dl_query_processing/dl_query_processing/exc.py
Labels: type/fix

#1161 feat: BI-6248 add auth data to db adapter scoped rci
  lib/dl_core/dl_core/connection_executors/models/scoped_rci.py
  lib/dl_core/dl_core_tests/unit/test_qe_schemas.py
Labels: type/feat
