Repository datalens-tech/datalens-backend, pull requests merged in 2025-03, with the labels that each got.

#868 test: BI-0 Ensure UUIDs are lowercase in table and schema names
  lib/dl_core/dl_core/data_processing/processing/db_base/op_executors.py
  lib/dl_core_testing/dl_core_testing/database.py
  lib/dl_core_testing/dl_core_testing/testcases/connection_executor.py
  lib/dl_db_testing/dl_db_testing/database/engine_wrapper.py
Labels: type/test

#866 docs: BI-6084 Add tooltip docs
  lib/dl_formula/dl_formula/definitions/functions_markup.py
  lib/dl_formula_ref/dl_formula_ref/functions/markup.py
  lib/dl_formula_ref/dl_formula_ref/locales/en/LC_MESSAGES/dl_formula_ref_dl_formula_ref.po
  lib/dl_formula_ref/dl_formula_ref/locales/ru/LC_MESSAGES/dl_formula_ref_dl_formula_ref.mo
  lib/dl_formula_ref/dl_formula_ref/locales/ru/LC_MESSAGES/dl_formula_ref_dl_formula_ref.po
Labels: type/docs

#870 test: BI-0 Sample table optional schema support
  lib/dl_core_testing/dl_core_testing/testcases/connection.py
  lib/dl_core_testing/dl_core_testing/testcases/connection_executor.py
Labels: type/test

#871 fix: BI-5355 Fix Trino SQL sessions count
  lib/dl_connector_trino/dl_connector_trino/db_testing/engine_wrapper.py
Labels: type/fix

#872 test: BI-0 Prettify Trino container logging
  lib/dl_connector_trino/docker-compose/Dockerfile.engine-trino-471
  lib/dl_connector_trino/docker-compose/Dockerfile.engine-trino-no-auth-471
  lib/dl_connector_trino/docker-compose/trino/base_config/log.properties
Labels: type/test

#875 feat: BI-5355 Use parse_sqltype from trino.sqlalchemy instead of make_sa_type
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
Labels: type/feat

#874 refactor: BI-5355 Rebase TrinoDefaultAdapter on BaseClassicAdapter
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino/core/constants.py
Labels: type/refactor

#877 test: BI-5355 Fix wait_for_trino fixture
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
Labels: type/test

#876 feat: BI-5355 Switch Adapter to use TrinoDialect
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino/core/us_connection.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection.py
Labels: type/feat

#837 feat: BI-5355 Trino connection executor
  lib/dl_connector_trino/dl_connector_trino/core/error_transformer.py
  lib/dl_connector_trino/dl_connector_trino/core/exc.py
  lib/dl_connector_trino/dl_connector_trino/core/type_transformer.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection_executor.py
  lib/dl_connector_trino/pyproject.toml
Labels: type/feat

#869 fix: BI-0 update CHYT err parser with an optional asterisk before clique
  lib/dl_connector_chyt/dl_connector_chyt/core/utils.py
Labels: type/fix

#880 fix: BI-0 Disable Trino tests
  lib/dl_connector_trino/pyproject.toml
Labels: type/fix

#881 feat: BI-6106 hide url args in typed query raw debug compiled query and reporting query
  lib/dl_api_lib/dl_api_lib/app/data_api/resources/typed_query_raw.py
  lib/dl_core/dl_core/connection_executors/adapters/adapter_actions/typed_query_raw.py
  lib/dl_utils/dl_utils/utils.py
  lib/dl_utils/dl_utils_tests/unit/test_stuff.py
Labels: type/feat

#882 chore: BI-0 remove obsolete makefile
  lib/dl_connector_mssql/Makefile
Labels: type/chore

#883 fix: BI-5975 Schema fixes
  lib/dl_api_lib/dl_api_lib/schemas/main.py
  lib/dl_core/dl_core/us_connection_base.py
Labels: type/fix

#884 fix: BI-6124 init mypy fix
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
Labels: type/fix

#886 test: BI-5355 Trino dataset tests
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_dataset.py
Labels: type/test

#885 feat: BI-5355 Trino DataSource
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino/core/connector.py
  lib/dl_connector_trino/dl_connector_trino/core/data_source.py
  lib/dl_connector_trino/dl_connector_trino/core/data_source_migration.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_data_source.py
Labels: type/feat

#888 fix: BI-0 TargetDTO json deserialisation
  lib/dl_connector_trino/dl_connector_trino/core/target_dto.py
  lib/dl_connector_trino/pyproject.toml
Labels: type/fix

#889 fix: BI-0 Skip Trino tests
  lib/dl_connector_trino/pyproject.toml
Labels: type/fix

#890 test: BI-5355 Trino RQE tests
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/conftest.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_remote_query_executor.py
  lib/dl_core_testing/dl_core_testing/testcases/remote_query_executor.py
Labels: type/test

#893 ci: BI-0 add build docker images for linux/arm64
  .github/workflows/release.yaml
  .github/workflows/release_prerelease.yaml
Labels: type/ci

#892 fix(formula): BI-6105 Handle RecursionError
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_errors.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/result/test_errors.py
  lib/dl_formula/dl_formula/core/exc.py
  lib/dl_formula/dl_formula/parser/antlr/main.py
  lib/dl_formula/dl_formula_tests/unit/parser/test_parser.py
Labels: component/formula, type/fix

#894 docs: BI-0 dl_settings readme
  lib/dl_settings/README.md
Labels: type/docs

#879 feat: BI-6055 rls v2 config support
  lib/dl_api_client/dl_api_client/dsmaker/api/dataset_api.py
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_client/dl_api_client/dsmaker/primitives.py
  lib/dl_api_lib/dl_api_lib/api_common/dataset_loader.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
  lib/dl_api_lib/dl_api_lib/schemas/dataset_base.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_rls.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/test_rls.py
  lib/dl_constants/dl_constants/enums.py
  lib/dl_rls/dl_rls/models.py
  lib/dl_rls/dl_rls/serializer.py
  lib/dl_rls/dl_rls/testing/rls_configs/dl_api_lib_group_config_v2.json
  lib/dl_rls/dl_rls/testing/rls_configs/dl_api_lib_test_config_v2.json
  lib/dl_rls/dl_rls/testing/rls_configs/simple_v1_from_v2
  lib/dl_rls/dl_rls/testing/rls_configs/simple_v2.json
  lib/dl_rls/dl_rls/testing/testing_data.py
Labels: type/feat

#887 feat: BI-6124 revId for connection in control-api
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
  lib/dl_api_lib/dl_api_lib/schemas/connection.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_revision.py
Labels: type/feat

#897 fix: BI-5767 Handle empty table schema
  lib/dl_api_lib/dl_api_lib/error_handling.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_dashsql_errors.py
Labels: type/fix

#896 feat: BI-5355 Trino formula connector with literal tests
  lib/dl_connector_trino/dl_connector_trino/formula/connector.py
  lib/dl_connector_trino/dl_connector_trino/formula/constants.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/__init__.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/all.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/conditional_blocks.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_aggregation.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_datetime.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_logical.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_markup.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_math.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_string.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_type.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_window.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/operators_binary.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/operators_ternary.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/operators_unary.py
  lib/dl_connector_trino/dl_connector_trino/formula/literal.py
  lib/dl_connector_trino/dl_connector_trino/formula/type_constructor.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_literals.py
  lib/dl_connector_trino/pyproject.toml
Labels: type/feat

#895 test: BI-0 Enhance formula literal tests with UTC offset and array checks
  lib/dl_formula_testing/dl_formula_testing/testcases/literals.py
Labels: type/test

#898 test: BI-0 Rollback formula tests #895
  lib/dl_formula_testing/dl_formula_testing/testcases/literals.py
Labels: type/test

#901 test: BI-0 data_table optional schema support
  lib/dl_formula_testing/dl_formula_testing/testcases/base.py
  lib/dl_formula_testing/dl_formula_testing/testcases/conditional_blocks.py
Labels: type/test

#899 feat: BI-6049 dont raise error if source is added later
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/validation/test_parameters.py
Labels: type/feat

#902 feat: BI-5355 Trino formula connector operators
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/all.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_logical.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_math.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/operators_binary.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/operators_ternary.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/operators_unary.py
  lib/dl_connector_trino/dl_connector_trino/formula/type_constructor.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/conftest.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_operators.py
Labels: type/feat

#906 feat: BI-5355 Trino formula connector logical functions
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/all.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/conditional_blocks.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_logical.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_special.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_logical.py
Labels: type/feat

#907 feat: BI-5355 Trino formula connector conditional blocks
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/conditional_blocks.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_conditional_blocks.py
Labels: type/feat

#908 fix: BI-0 Add STRING to FuncStrFromString argument types
  lib/dl_formula/dl_formula/definitions/functions_type.py
Labels: type/fix

#904 feat: BI-5975 Add code to notifications
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_core/dl_core/locales/en/LC_MESSAGES/dl_core.mo
  lib/dl_core/dl_core/locales/en/LC_MESSAGES/dl_core.po
  lib/dl_core/dl_core/locales/ru/LC_MESSAGES/dl_core.mo
  lib/dl_core/dl_core/locales/ru/LC_MESSAGES/dl_core.po
  lib/dl_core/dl_core/us_connection_base.py
  lib/dl_core/dl_core/us_dataset.py
Labels: type/feat

#910 feat: BI-5355 Trino formula connector type conversion
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/all.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_type.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_type_conversion.py
Labels: type/feat

#911 fix: BI-6047 Rev id in dataset export
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
Labels: type/fix

#909 feat: BI-6152 override tenant in service USM in file-uploader-worker
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/files.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/sources.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/download_gsheets.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/download_yadocs.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/excel.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/parse.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/save.py
Labels: type/feat

#912 feat: BI-5355 Trino formula connector type conversion Float
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_type.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_type_conversion.py
Labels: type/feat

#914 feat: BI-5355 Trino formula connector remaining type conversion
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_type.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_type_conversion.py
Labels: type/feat

#916 feat: BI-5355 Trino formula connector geopoint and geopolygon type conversion
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/all.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_string.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_type.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_type_conversion.py
Labels: type/feat

#915 fix: BI-6047 Ds-export name fix
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connector/dataset_suite.py
Labels: type/fix

#913 feat(connectors): BI-6033 Add TCPS for OracleDB connector
  lib/dl_connector_oracle/dl_connector_oracle/api/api_schema/connection.py
  lib/dl_connector_oracle/dl_connector_oracle/api/connection_form/form_config.py
  lib/dl_connector_oracle/dl_connector_oracle/core/adapters_oracle.py
  lib/dl_connector_oracle/dl_connector_oracle/core/connection_executors.py
  lib/dl_connector_oracle/dl_connector_oracle/core/dto.py
  lib/dl_connector_oracle/dl_connector_oracle/core/storage_schemas/connection.py
  lib/dl_connector_oracle/dl_connector_oracle/core/target_dto.py
  lib/dl_connector_oracle/dl_connector_oracle/core/us_connection.py
  lib/dl_connector_oracle/dl_connector_oracle/locales/en/LC_MESSAGES/dl_connector_oracle.mo
  lib/dl_connector_oracle/dl_connector_oracle/locales/en/LC_MESSAGES/dl_connector_oracle.po
  lib/dl_connector_oracle/dl_connector_oracle/locales/ru/LC_MESSAGES/dl_connector_oracle.mo
  lib/dl_connector_oracle/dl_connector_oracle/locales/ru/LC_MESSAGES/dl_connector_oracle.po
  lib/dl_connector_oracle/dl_connector_oracle_tests/db/config.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/db/conftest.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/db/core/base.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/db/core/test_connection.py
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_oracle/dl_connector_oracle_tests/unit/test_connection_form.py
  lib/dl_connector_oracle/docker-compose.yml
  lib/dl_connector_oracle/docker-compose/Dockerfile.db-oracle-ssl
  lib/dl_connector_oracle/docker-compose/db-oracle-ssl/listener.ora
  lib/dl_connector_oracle/docker-compose/db-oracle-ssl/sqlnet.ora
  lib/dl_connector_oracle/docker-compose/db-oracle-ssl/tnsnames.ora
  lib/dl_connector_oracle/docker-compose/tests/fetch-certificates.sh
  lib/testenv-common/images/Dockerfile.ssl-provider
Labels: component/connectors, type/feat

#918 fix: BI-6047 Ds-export name schema fix
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset.py
  lib/dl_api_lib/dl_api_lib/schemas/main.py
Labels: type/fix

#919 fix: BI-6147 Fixes in get_required_resources func
  lib/dl_api_commons/dl_api_commons/flask/required_resources.py
Labels: type/fix

#900 feat: BI-6055 only one rls check
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_client/dl_api_client/dsmaker/primitives.py
  lib/dl_api_lib/dl_api_lib/api_common/dataset_loader.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/dataset_base.py
  lib/dl_api_lib/dl_api_lib/schemas/dataset_base.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/test_rls.py
  lib/dl_api_lib/dl_api_lib_tests/db/data_api/test_rls.py
  lib/dl_rls/dl_rls/serializer.py
  lib/dl_rls/dl_rls/testing/testing_data.py
Labels: type/feat

#921 feat: BI-5355 Trino formula connector array support
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/all.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_array.py
  lib/dl_connector_trino/dl_connector_trino/formula/literal.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_type_conversion.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_operators.py
Labels: type/feat

#922 feat: BI-5355 Trino formula connector array comparison operators
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_array.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/operators_binary.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_operators.py
Labels: type/feat

#923 feat: BI-5355 Trino formula connector DB_CAST
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_type.py
Labels: type/feat

#932 fix: BI-0 Fix argument types for FuncArrStr in Trino formula defs
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_array.py
Labels: type/fix

#928 refactor: BI-6073 preliminary refactor
  lib/dl_core/dl_core/components/accessor.py
  lib/dl_core/dl_core/components/editor.py
  lib/dl_core/dl_core/components/ids.py
  lib/dl_core/dl_core/data_source/base.py
  lib/dl_core/dl_core/data_source/collection.py
  lib/dl_core/dl_core/data_source/sql.py
  lib/dl_core/dl_core/data_source/type_mapping.py
  lib/dl_core/dl_core/data_source/utils.py
  lib/dl_core/dl_core/data_source_spec/__init__.py
  lib/dl_core/dl_core/data_source_spec/base.py
  lib/dl_core/dl_core/data_source_spec/collection.py
  lib/dl_core/dl_core/data_source_spec/sql.py
  lib/dl_core/dl_core/data_source_spec/type_mapping.py
Labels: type/refactor

#929 dev: BI-0 add taskfile var to control deptry strictness
  tools/requirements-localhost.txt
  tools/taskfiles/taskfile_code_quality.yml
Labels: type/dev

#930 dev: BI-0 enable pyupgrade checks, ignore existing errors
  pyproject.toml
Labels: type/dev

#934 fix: BI-6167 Delete unnecessary fields from connection export
  lib/dl_api_connector/dl_api_connector/api_schema/top_level.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/connections.py
Labels: type/fix
