Repository datalens-tech/datalens-backend, pull requests merged in 2025-06, with the labels that each got.

#1072 fix(connectors): BI-6320 quote_plus() -> quote() for postgres adapter _get_dsn_params() method
  lib/dl_connector_postgresql/dl_connector_postgresql/core/postgresql_base/async_adapters_postgres.py
Labels: component/connectors, type/fix

#1073 test: BI-0 Fix test_error_on_select_from_nonexistent_column Trino test
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection_executor.py
Labels: type/test

#1074 feat: BI-5357 Enable TREE function for Trino
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_type.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/test_functions_type_conversion.py
Labels: type/feat

#1032 feat(connectors): BI-5905 migrate previews from redis to S3 in file connector
  lib/dl_api_commons/dl_api_commons/aio/middlewares/auth_trust_middleware.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_base/core/lifecycle.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_gsheets/core/lifecycle.py
  lib/dl_connector_bundle_chs3/dl_connector_bundle_chs3/chs3_yadocs/core/lifecycle.py
  lib/dl_core/dl_core/services_registry/file_uploader_client_factory.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/dl_request.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/misc.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/views/sources.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/conftest.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/conftest.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/db/test_sources_api.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/ext/test_documents_api.py
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib_tests/ext/test_links_api.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib/redis_model/base.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib/s3_model/__init__.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib/s3_model/base.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib/s3_model/models/__init__.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib/s3_model/models/models.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib/s3_model/models/storage_schemas.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib_tests/conftest.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib_tests/db/test_redis_models.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib_tests/db/test_s3_models.py
  lib/dl_file_uploader_lib/dl_file_uploader_lib_tests/ext/test_gsheets_client.py
  lib/dl_file_uploader_lib/docker-compose.yml
  lib/dl_file_uploader_lib/pyproject.toml
  lib/dl_file_uploader_task_interface/dl_file_uploader_task_interface/tasks.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/__init__.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/cleanup.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/delete.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/download_gsheets.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/download_yadocs.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/excel.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/migrate_preview.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/parse.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/save.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/utils/connection_error_tracker.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/utils/file_parser.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/utils/s3_utils.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/conftest.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/db/conftest.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/db/test_excel.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/db/test_tasks.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/ext/test_gsheets.py
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib_tests/ext/test_yadocs.py
  lib/dl_file_uploader_worker_lib/pyproject.toml
  lib/dl_s3/dl_s3/utils.py
Labels: component/connectors, type/feat

#1079 feat(connectors): BI-6326 expand the list of allowed yadocs domains
  lib/dl_file_uploader_api_lib/dl_file_uploader_api_lib/data_file_preparer.py
Labels: component/connectors, type/feat

#1075 feat(connectors): BI-6319 add Trino connector
  app/app_configs/api.yaml
Labels: component/connectors, changelog, type/feat

#1083 fix: BI-6318 Update dl_formula_ref dependencies to track connectors
  lib/dl_connector_trino/dl_connector_trino/locales/en/LC_MESSAGES/dl_formula_ref_dl_connector_trino.mo
  lib/dl_connector_trino/dl_connector_trino/locales/en/LC_MESSAGES/dl_formula_ref_dl_connector_trino.po
  lib/dl_connector_trino/dl_connector_trino/locales/ru/LC_MESSAGES/dl_connector_trino.po
  lib/dl_connector_trino/dl_connector_trino/locales/ru/LC_MESSAGES/dl_formula_ref_dl_connector_trino.mo
  lib/dl_connector_trino/dl_connector_trino/locales/ru/LC_MESSAGES/dl_formula_ref_dl_connector_trino.po
  lib/dl_connector_trino/pyproject.toml
  lib/dl_formula_ref/pyproject.toml
  metapkg/poetry.lock
Labels: type/fix

#1088 fix: BI-0 Add kw_only=True to data_export_forbidden
  lib/dl_core/dl_core/base_models.py
Labels: type/fix

#1086 ci: BI-0 Remove connectors from formula_ref dependencies
  lib/dl_formula_ref/pyproject.toml
Labels: type/ci

#1091 refactor: DLHELP-13339 move magic number to constants
  lib/dl_api_lib/dl_api_lib/schemas/data.py
  lib/dl_core/dl_core/constants.py
Labels: type/refactor

#1092 fix(connectors): BI-6359 Fix preview_id backwards compatibility in file connector
  lib/dl_file_uploader_worker_lib/dl_file_uploader_worker_lib/tasks/save.py
Labels: component/connectors, type/fix

#1099 refactor: BI-5860 us_dataset mypy
  lib/dl_api_lib/dl_api_lib/dataset/base_wrapper.py
  lib/dl_core/dl_core/us_dataset.py
  lib/dl_core/dl_core/us_entry.py
  lib/dl_core_testing/dl_core_testing/dataset_wrappers.py
  lib/dl_core_testing/dl_core_testing/testcases/dataset.py
Labels: type/refactor

#1095 fix: BI-6341 Tests for query compilation with complex types (Trino)
  lib/dl_connector_trino/dl_connector_trino/core/adapters.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/test_complex_queries.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection_executor.py
Labels: type/fix

#1103 feat: BI-0 add split validators
  lib/dl_api_lib/dl_api_lib/app_settings.py
  lib/dl_settings/dl_settings/__init__.py
  lib/dl_settings/dl_settings/base/fallback_settings.py
  lib/dl_settings/dl_settings/validators.py
  lib/dl_settings/dl_settings/validators/__init__.py
  lib/dl_settings/dl_settings/validators/decode.py
  lib/dl_settings/dl_settings/validators/split.py
  lib/dl_settings/dl_settings_tests/unit/validators/__init__.py
  lib/dl_settings/dl_settings_tests/unit/validators/decode/__init__.py
  lib/dl_settings/dl_settings_tests/unit/validators/decode/test_decode_multiline.py
  lib/dl_settings/dl_settings_tests/unit/validators/split/__init__.py
  lib/dl_settings/dl_settings_tests/unit/validators/split/test_split_list.py
  lib/dl_settings/dl_settings_tests/unit/validators/split/test_split_tuple.py
  lib/dl_settings/dl_settings_tests/unit/validators/test_decode_multiline.py
Labels: type/feat

#1109 chore: BI-0 add metapkg dir var to poetry-lock to make it more extensible
  Taskfile.dist.yml
  tools/taskfiles/taskfile_dev.yml
Labels: type/chore

#1108 feat: BI-0 dl-settings extend split validators
  lib/dl_settings/dl_settings/validators/split.py
  lib/dl_settings/dl_settings_tests/unit/validators/json/test_json_dict.py
  lib/dl_settings/dl_settings_tests/unit/validators/split/test_split_list.py
  lib/dl_settings/dl_settings_tests/unit/validators/split/test_split_tuple.py
Labels: type/feat

#1114 deps: BI-0 update poetry lock
  metapkg/poetry.lock
Labels: type/deps

#1116 fix: BI-0 BIRedisSettings optional password
  lib/dl_task_processor/dl_task_processor/arq_wrapper.py
Labels: type/fix

#1112 refactor: BI-6153 Split TrinoConnectionDataStorageSchema to reuse base in private connector
  lib/dl_connector_trino/dl_connector_trino/core/storage_schemas/connection.py
Labels: type/refactor

#1113 refactor: BI-6153 Split TrinoConnDTO to reuse base in private connector
  lib/dl_connector_trino/dl_connector_trino/core/dto.py
Labels: type/refactor
