Repository datalens-tech/datalens-backend, pull requests merged in 2025-08, with the labels that each got.

#1167 refactor: BI-6453 base httpx client
  lib/dl_api_commons/dl_api_commons/__init__.py
  lib/dl_api_commons/dl_api_commons/httpx/__init__.py
  lib/dl_api_commons/dl_api_commons/httpx/client.py
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_aiohttp_services.py
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_async_wrapper_for_sync_generator.py
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_common_logging.py
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_csrf.py
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_request_id.py
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_timeout.py
  lib/dl_api_commons/dl_api_commons_tests/unit/aio/test_tracing.py
  lib/dl_api_commons/dl_api_commons_tests/unit/conftest.py
  lib/dl_api_commons/dl_api_commons_tests/unit/flask/test_aio_event_loop_middleware.py
  lib/dl_api_commons/dl_api_commons_tests/unit/flask/test_commit_rci_middleware.py
  lib/dl_api_commons/dl_api_commons_tests/unit/flask/test_tracing_middleware.py
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/test_async_client.py
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/test_sync_client.py
  lib/dl_api_commons/dl_api_commons_tests/unit/test_reporting.py
  lib/dl_api_commons/pyproject.toml
  lib/dl_constants/dl_constants/__init__.py
  lib/dl_constants/dl_constants/api_constants.py
Labels: type/refactor

#1166 feat: BI-5218 ui_settings for field
  lib/dl_api_client/dl_api_client/dsmaker/api/schemas/dataset.py
  lib/dl_api_client/dl_api_client/dsmaker/primitives.py
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_api_lib/dl_api_lib/request_model/data.py
  lib/dl_api_lib/dl_api_lib/schemas/action.py
  lib/dl_api_lib/dl_api_lib/schemas/dataset_base.py
  lib/dl_api_lib/dl_api_lib_tests/db/control_api/validation/test_ui_settings.py
  lib/dl_core/dl_core/constants.py
  lib/dl_core/dl_core/fields.py
  lib/dl_core/dl_core/us_manager/storage_schemas/dataset.py
Labels: type/feat

#1171 feat: BI-0 Move form config params to common class
  lib/dl_api_commons/dl_api_commons/base_models.py
  lib/dl_api_connector/dl_api_connector/form_config/models/base.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/info.py
  lib/dl_api_lib_testing/dl_api_lib_testing/connection_form_base.py
  lib/dl_connector_chyt/dl_connector_chyt/api/connection_form/form_config.py
Labels: type/feat

#1179 feat: BI-6412 add disabled option to checkbox row item, host row, path row
  lib/dl_api_connector/dl_api_connector/form_config/models/rows/customizable/components.py
  lib/dl_api_connector/dl_api_connector/form_config/models/shortcuts/rows.py
  lib/dl_connector_promql/dl_connector_promql_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_promql/dl_connector_promql_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_trino/dl_connector_trino_tests/unit/expected_forms/TenantCommon()_create.json
  lib/dl_connector_trino/dl_connector_trino_tests/unit/expected_forms/TenantCommon()_edit.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/False_False_None_True_TenantCommon()_create.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/False_False_None_True_TenantCommon()_edit.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/True_False_None_True_TenantCommon()_create.json
  lib/dl_connector_ydb/dl_connector_ydb_tests/unit/expected_forms/True_False_None_True_TenantCommon()_edit.json
Labels: type/feat

#1182 refactor: BI-6153 Refactor Trino api to reuse in YC
  lib/dl_connector_trino/dl_connector_trino/api/api_schema/connection.py
  lib/dl_connector_trino/dl_connector_trino/api/connection_form/form_config.py
Labels: type/refactor

#1177 feat: BI-6412 add user_id to conn form params and new preprocess method to form factory
  lib/dl_api_commons/dl_api_commons/base_models.py
  lib/dl_api_connector/dl_api_connector/form_config/models/base.py
  lib/dl_api_lib/dl_api_lib/app/control_api/resources/info.py
Labels: type/feat

#1187 fix: BI-6153 Add `allow_none` field to Trino API schema
  lib/dl_connector_trino/dl_connector_trino/api/api_schema/connection.py
Labels: type/fix

#1188 test: BI-6245 Remove redundant trino-no-auth test container
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/docker-compose.yml
  lib/dl_connector_trino/docker-compose/Dockerfile.engine-trino-471
  lib/dl_connector_trino/docker-compose/Dockerfile.engine-trino-no-auth-471
  lib/dl_connector_trino/docker-compose/trino/config.properties
  lib/dl_connector_trino/docker-compose/trino/jwt_rsa_public.pem
  lib/dl_connector_trino/docker-compose/trino/log.properties
  lib/dl_connector_trino/docker-compose/trino/no_auth_config/config.properties
  lib/dl_connector_trino/docker-compose/trino/password-authenticator.properties
  lib/dl_connector_trino/docker-compose/trino/password.db
  lib/dl_connector_trino/pyproject.toml
Labels: type/test

#1189 test: BI-6245 Remove MySQL from Trino tests
  lib/dl_connector_trino/dl_connector_trino_tests/db/api/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/config.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/base.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/core/test_connection_executor.py
  lib/dl_connector_trino/dl_connector_trino_tests/db/formula/base.py
  lib/dl_connector_trino/docker-compose.yml
  lib/dl_connector_trino/docker-compose/Dockerfile.db-mysql-8.0.40
  lib/dl_connector_trino/docker-compose/db-mysql/docker-entrypoint-initdb.d/prepare_db.sql
  lib/dl_connector_trino/docker-compose/trino/catalog/test_mysql_catalog.properties
Labels: type/test

#1192 feat: BI-6453 add retrier to base httpx client
  lib/dl_api_commons/dl_api_commons/__init__.py
  lib/dl_api_commons/dl_api_commons/httpx/__init__.py
  lib/dl_api_commons/dl_api_commons/httpx/client.py
  lib/dl_api_commons/dl_api_commons/retrier/__init__.py
  lib/dl_api_commons/dl_api_commons/retrier/aiohttp.py
  lib/dl_api_commons/dl_api_commons/retrier/policy.py
  lib/dl_api_commons/dl_api_commons/retrier/requests.py
  lib/dl_api_commons/dl_api_commons/retrier/retries.py
  lib/dl_api_commons/dl_api_commons/retrier/settings.py
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/conftest.py
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/test_async_client.py
  lib/dl_api_commons/dl_api_commons_tests/unit/httpx/test_sync_client.py
  lib/dl_api_commons/dl_api_commons_tests/unit/retrier/test_retriers.py
Labels: type/feat

#1194 feat: BI-6248 add ext rqe option to conn executor
  lib/dl_core/dl_core/connection_executors/__init__.py
  lib/dl_core/dl_core/connection_executors/async_base.py
  lib/dl_core/dl_core/connection_executors/async_sa_executors.py
  lib/dl_core/dl_core/connection_executors/common_base.py
  lib/dl_core/dl_core/services_registry/conn_executor_factory.py
Labels: type/feat

#1198 deploy: BI-0 Increase default GUNICORN_WORKERS_COUNT from 1 to 3
  app/dl_data_api/etc/service/dl_api/run
Labels: type/deploy

#1201 test: BI-6412 add service_registry to form tests
  lib/dl_api_lib_testing/dl_api_lib_testing/connection_form_base.py
  lib/dl_api_lib_testing/pyproject.toml
  metapkg/poetry.lock
Labels: type/test

#1185 fix: BI-5097 don't validate parameter field
  lib/dl_api_lib/dl_api_lib/dataset/validator.py
  lib/dl_core/dl_core/components/ids.py
  lib/dl_core/dl_core_tests/unit/components/test_make_field_id.py
  lib/dl_core/dl_core_tests/unit/components/test_make_readable_field_id.py
Labels: type/fix

#1196 feat: BI-6380 Implement ARRAY_DISTINCT formula
  lib/dl_connector_clickhouse/dl_connector_clickhouse/formula/definitions/functions_array.py
  lib/dl_connector_clickhouse/dl_connector_clickhouse/formula/testing/test_suites.py
  lib/dl_connector_postgresql/dl_connector_postgresql/formula/definitions/functions_array.py
  lib/dl_connector_trino/dl_connector_trino/formula/definitions/functions_array.py
  lib/dl_formula/dl_formula/definitions/functions_array.py
  lib/dl_formula_ref/dl_formula_ref/functions/array.py
  lib/dl_formula_ref/dl_formula_ref/locales/en/LC_MESSAGES/dl_formula_ref_dl_formula_ref.po
  lib/dl_formula_ref/dl_formula_ref/locales/ru/LC_MESSAGES/dl_formula_ref_dl_formula_ref.mo
  lib/dl_formula_ref/dl_formula_ref/locales/ru/LC_MESSAGES/dl_formula_ref_dl_formula_ref.po
  lib/dl_formula_testing/dl_formula_testing/testcases/functions_array.py
Labels: type/feat
